[2017-04-24 20:26] baskren opened #1 "Small suggestions for documentation"
First, thank you VERY MUCH for putting this documentation together.  It is greatly appreciated.  As someone new to Angular2 and Firebase, I did get tripped up on something small in your **How to use** documentation.  I wasn't quite able to put all the pieces together (again, I'm new) as to what you meant in the **Add the firebaseui css to your imports:** section.

It only took me about 10 minutes

[2017-04-24 20:34] RaphaelJenni commented on #1
@baskren Hey, nice that I could help.

Actually adding the css to the .angular-cli.json should be enough... Have you restarted the server (`ng serve`)?

Else I have to check that again.

[2017-04-24 20:55] RaphaelJenni commented on #1
It works for me.
I've added a sample: https://github.com/RaphaelJenni/FirebaseUI-Angular/tree/master/sample

You can check that out and say me if it worked 😃

[2017-04-24 21:07] baskren commented on #1
I'll give restarting the server a try.

[2017-04-24 21:19] baskren commented on #1
Yes, closing (^-C) the server and restarting (`ng server --open`) was required for the suggested change to the `.angular-cli.json` file to work.  So, in other words, changing `.angular-cli.json` is probably more *correct* while adding `@import url("../node_modules/firebaseui/dist/firebaseui.css");` to `src/styles.css` appears to be more fool-proof (that would be me).

[2017-04-25 06:12] RaphaelJenni commented on #1
Nice to hear, that it worked 😃

[2017-04-25 06:12] #1 closed

[2017-05-07 02:03] kkimdev opened #2 "Support AngulareFire2 4.0.0"
Latest AngularFire2 release is 4.0.0-rc.0
https://www.npmjs.com/package/angularfire2

[2017-05-08 15:28] RaphaelJenni commented on #2
Done in #3

[2017-05-08 15:28] #2 closed

[2017-05-16 17:55] apurva304 opened #4 "../firebaseUI-Angular has no exported member 'AuthProviders'"
I'm getting this error.
Angular fire version 4.0.0-rc.0
<img width="703" alt="capture" src="https://cloud.githubusercontent.com/assets/14852030/26120054/11432b5c-3a8d-11e7-9bee-f8f391fed9dd.PNG">

Going through the code in the .../node_modules/firebaseUI-Angular , I found out that the code here at the repository is different. So I tried to update the packages with npm update.

Even Reinstalling th

[2017-05-16 19:09] RaphaelJenni commented on #4
I have to check that. Maybe the npm build didn't work.

[2017-05-16 20:35] RaphaelJenni commented on #4
So I checked that. I don't have this problem. But "AngularFire" has been removed and replaced with AngularFireModule, AngularFireDatabaseModule, AngularFireAuthModule. So corresponding to your Error it is looking for this import but can't find it.

You can read more about that in the migration doc of AngularFire2:
https://github.com/angular/angularfire2/blob/master/docs/version-4-upgrade.md

I hop

[2017-05-17 18:04] nikmartin opened #5 "after first login. firebase-ui empty until page is refreshed"
If I load my angular2 app and click the sign in modal that contains `<firebase-ui >`, I'm able to login in with any of the providers I've configured. Once this happens, all subsequent attemps to display the login dialog display:
`<firebase-ui ><div id="firebaseui-auth-container"></div></firebase-ui>`
The container is empty, and only doing a hard refresh of the page will display them again, regardl

[2017-05-18 06:33] RaphaelJenni commented on #5
I checked it and I have the same problem too. Must happend in the upgrade to angularfire2 4.0.
I will fix that asap.

[2017-05-18 07:45] RaphaelJenni commented on #5
Fixed it and upgraded firebase/firebaseui to the newset version.
Give it a try and let me know if it worked.

[2017-05-18 14:33] nikmartin commented on #5
It does appear to be fixed, thanks!

[2017-05-18 14:43] #5 closed

[2017-05-19 10:26] FallenRiteMonk opened #6 "Typescript error"
I get the following typescript error:
```Namespace ''*'' has no exported member 'auth'.```
on line 4 of firebaseui.service.d.ts:
[code]
i have the following package versions:
[code]

maybe it is also important to mention that im trying this in a ionic project.

[2017-05-19 11:10] FallenRiteMonk commented on #6
I found a workaround, but since I'm not to familiar with type definitions, I don't know what effects on other libraries this could have? I'd be pleased if anyone could explain it to me?

To get this to work I had to comment out the following line in the ```declarations.d.ts``` file in my ionic project:
```declare module '*';```

Thanks to this, and the code from this [guide](https://firebase.googl

[2017-05-19 11:10] RaphaelJenni commented on #6
I don't have this problem. But which typescript version do you have? Mine is `~2.2.0`.

[2017-05-19 11:15] RaphaelJenni commented on #6
@FallenRiteMonk are you sure the user isn't created? Sometimes the console is a bit slow and needs a page refresh.
And I haven't tested the phone way yet, so maybe there is something fishy. I will give it a try.

[2017-05-19 11:19] RaphaelJenni commented on #6
So the phone works for me, but I haven't implemented the options for the mobile way as firebaseui did. I will do that this weekend I hope. Maybe then it works for you.

[2017-05-19 13:45] FallenRiteMonk commented on #6
I was using typescipt version ```2.3.2``` but also with ```~2.2.0``` everything is the same.

Yes I'm sure the user isn't created, tried reloading the page several times, and also restarting the app the subsription to the auth state returns null, meaning that login isn't successful.

Somehow I was able to finally get some kind of error. The strange thing is that is says that the signin was cancele

[2017-05-19 13:54] RaphaelJenni commented on #6
Maybe you can checkout the plugin and try to find a solution in there.
I can't help you with ionic. Sorry.
But if you archive to fix it, I'm happy for a PR.

[2017-05-19 14:44] #4 closed

[2017-05-29 16:57] RaphaelJenni commented on #6
Closing, because of inactivity.

[2017-05-29 16:57] #6 closed

[2017-06-14 04:00] choopage opened #7 "chore: Upgrade to angularfire2 rc1 and firebaseui 2.1.1"
Upgrade to `"angularfire2": "4.0.0-rc.1"` and `"firebaseui": "2.1.1"` not working with `"firebaseui-angular": "0.3.0"`.

Current working but outdated versioning:
[code]

Look forward to upgrade to angularfire2 rc1 and firebaseui 2.1.1.

[2017-06-14 05:06] RaphaelJenni commented on #7
I'll do that in the comming days. :)

[2017-06-14 06:50] RaphaelJenni commented on #7
Done. V 0.4.0 should be available on npm :)
If there are some problems I haven't seen, feel free to report an issue

[2017-06-14 06:50] #7 closed

[2017-06-14 13:13] choopage commented on #7
Impressive. You're really professional. Thank you for your effort in maintaining this wonderful package.

[2017-06-15 04:48] choopage commented on #7
There is a bug after the upgrade.

![screen shot 2017-06-15 at 12 47 43 pm](https://user-images.githubusercontent.com/6467136/27165780-e9870c98-51c8-11e7-89b8-4b8bdeda9d67.png)

[2017-06-15 04:55] choopage commented on #7
Correction. No bug. My bad. It's because besides upgrading to "angularfire2": "4.0.0-rc.1", "firebaseui": "2.1.1", and "firebaseui-angular": "0.4.0".

Also need to upgrade firebase sdk to `"firebase": "4.1.2"`

[2017-06-18 08:55] Daaron3 opened #8 "firebase-ui configuration of providers"
**Thank you very mutch for FirebaseUI-Angular everything work like a charm.**

Please where I can change change configuration for providers?

Like
- requireDisplayName
- scopes for facebook
- recaptha parameters
- redirect with success

Thank you for your answer.

[2017-06-18 11:02] RaphaelJenni commented on #8
I haven't implemented that yet. But I can do that for you.
I will do it in the comming days.

[2017-06-18 11:52] RaphaelJenni commented on #8
Or you can do a PR

[2017-06-20 10:41] RaphaelJenni commented on #8
@Daaron3 What do you mean with the "redirect with success". The default firebase way is a hard redirect. But Angular is a single page app, so that would't be the angular way. I can implement a angular-router redirect if you want.

[2017-06-21 10:42] foufrix opened #9 "Angular 4"
Hello,

Does this module work with Angular 4 ?

I have followed all the steps here, and the module <firebase-ui> does not appear on the login page, i have no error in building nor on the page with the console

Any idea ?

Thanks in advance

[2017-06-21 10:57] RaphaelJenni commented on #9
Yes, it does. You can compare it with the [sample project](https://github.com/RaphaelJenni/FirebaseUI-Angular/tree/master/sample). Maybe you find something.

[2017-06-21 11:13] foufrix commented on #9
Yes found it thanks, perfect working like a charme now !

[2017-06-21 11:22] foufrix commented on #9
Does it handle Anonymous Login ?

Thanks anyway for this perfect integration !

[2017-06-21 11:29] RaphaelJenni commented on #9
No, that's not implemented by FirebaseUI. But you have to consider, the idea about the anonymous login is, that a user can do some stuff on your page without needing a user, but storing the data anyway. (e.g. Add some stuff to the bucket)
And then if the user wants to do something, where he has to have a user, you can convert the anonymous  user to an authenticated user.

That means, that the user

[2017-06-22 15:19] #9 closed

[2017-06-22 22:49] Daaron3 commented on #8
Thank you very mutch,

sign in options works perfectly, I setup them in getUIAuthConfig rigidly but it works.

signInSuccess works too, but I must change callbabacks: signInSuccess to true.

Yes, you are right, I will have to write my own function with @angular/router to redirect after sign in.

[2017-06-23 07:05] RaphaelJenni commented on #8
Ok, in that case I finalize the custom config option and release than a new version.

[2017-06-23 08:46] RaphaelJenni commented on #8
Done. Version 0.4.1 is available on npm. Check the README and the CHANGELOG.

[2017-06-23 08:46] #8 closed

[2017-07-03 14:19] ajonp opened #11 "Ionic 3.5, issue on navigation"
The deeplink actual fires before the login finishes its loading state. Need to be able to release to the next view.

[code]

if I remove
[code]
It will just stay on the same login page, because the view has already loaded. I need a promise or something to continue forward.

[2017-07-04 04:08] RaphaelJenni commented on #11
Hey
Sorry, how can I help you with that? I'm not using ionic, so I don't know how it works exactly. You have to eplaxin it more specific.

[2017-07-04 13:57] ajonp commented on #11
@RaphaelJenni can I give you access to my private repo to try it out?

[2017-07-05 06:23] RaphaelJenni commented on #11
@ajonp I can give it a try, but I as I said, I haven't worked with ionic yet. So I don't know of how much help I am.

[2017-07-08 12:19] ajonp commented on #11
@RaphaelJenni I think what is really needed is the success callbacks. https://github.com/firebase/firebaseui-web#available-callbacks

Then we would be good.

[2017-07-08 15:43] RaphaelJenni commented on #11
Well I get that, but why don't you specify the redirect url or do it with the auth observer?

[2017-07-08 20:40] ajonp commented on #11
Total user error, my fault!

[2017-07-09 14:06] kashalkar opened #12 "no exported member 'AuthProvider' and 'AuthProviderWithCustomConfig'"
Hello,
Firstly, thanks for the great work!

This is a duplicate of #4

I am running the code in /sample and this is what I see...
firebaseui-angular"' has no exported member 'AuthProvider'.
firebaseui-angular"' has no exported member 'AuthProviderWithCustomConfig'

This is my configuration...
angularfire2@4.0.0-rc1
firebase@4.1.3
firebase-angular@0.3.0
firebaseui@2.2.1

As you mentioned, it has so

[2017-07-09 14:22] kashalkar commented on #12
I think I found the reason...the /sample/node_modules/firebaseui-angular contains old code
I will rebuild from source and try again...

[2017-07-09 14:45] kashalkar commented on #12
/sample works fine after a rebuild of /src 👍

Thanks!

[2017-07-09 14:45] #12 closed

[2017-07-17 20:45] ajonp commented on #11
@RaphaelJenni I am sorry to hit you up on this issue again, but this works great in a browser and fails to forward on mobile. It won't trigger back to the auth subscriber.

app.component.ts
[code]

[2017-07-18 04:37] RaphaelJenni commented on #11
Sry, I really don't know how to help with this problem.
Is there an error thrown?

[2017-07-18 18:49] aswerdlow935 opened #13 "Running the sample produces a no exported member error"
Running the sample produces a firebaseui-angular has no exported member "authprovider" and "authproviderwithcustomconfig". It seems to be because of AngularFire Version 4. Any ideas on a fix?

[2017-07-18 20:09] RaphaelJenni commented on #13
The sample app dependencies weren't updated. Should be fine now. Sorry for any inconveniences.

[2017-07-18 20:09] #13 closed

[2017-08-01 15:33] amsamwalker opened #14 "signInSuccess callback needed"
We need this to retrieve the facebook access token.
credential.accessToken has that token when credential.providerId == 'facebook.com'

[2017-08-02 21:28] chiefmc opened #15 "l10n possible?"
Thanks for your work!

The only question I have if it is possible to get the localized version of the FirebaseUI?

[2017-08-03 05:03] code-tree opened #16 "This module will likely import firebase twice"
I confess I haven't used this module, but I based my own code off it, and the way firebaseui is imported likely results in importing firebase twice, which can cause serious issues if the firebase modules are two different versions.

[Should not `import * as firebaseui from 'firebaseui'`](https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/9e4e86c3e9b176c3085e194b2a5e87f629773f79/src/firebaseui

[2017-08-03 05:45] RaphaelJenni commented on #15
I will check that in the following week.

[2017-08-03 05:45] RaphaelJenni commented on #14
I will check that in the following week.

[2017-08-03 05:45] RaphaelJenni commented on #16
I will check that in the following week.

[2017-08-03 05:46] RaphaelJenni commented on #11
Close it because of inactivity.

[2017-08-03 05:46] #11 closed

[2017-08-07 09:51] RaphaelJenni commented on #16
Should it even be possible to have two different versions of firebase? If that's the case, an error would be the right thing...!?
Then in my code, I pass the auth instance of AngularFire to the firebaseUI module. That should prevent double initialization as well. ([Here](https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/9e4e86c3e9b176c3085e194b2a5e87f629773f79/src/firebaseui.service.ts#L15))

[2017-08-07 09:58] RaphaelJenni commented on #15
Sadly at the moment, that's not possible. The localized version can only be [imported via the CDN](https://github.com/firebase/firebaseui-web#localized-widget). Here we use the npm module, so the option isn't available yet.

[2017-08-07 11:36] code-tree commented on #16
Hi @RaphaelJenni,

When I inspected the Firebase UI npm package files I discovered that `import ... from 'firebaseui'` pulls in a build of Firebase UI with filename `npm.js` which contains `require('firebase')`. You can see this in the [build code](https://github.com/firebase/firebaseui-web/blob/d839c18db390d00e974af21af896c1f551b98982/gulpfile.js#L37).

I'm not an expert on this, but from my unde

[2017-08-07 11:37] RaphaelJenni commented on #14
Fixed that:

V0.4.3
https://github.com/RaphaelJenni/FirebaseUI-Angular#signinsuccess-callback

[2017-08-07 11:37] #14 closed

[2017-08-07 11:38] code-tree commented on #16
I do this as well, but Firebase UI then takes a Credential object generated by AngularFire's firebase and gives it to methods of FirebaseUI's firebase (causing the errors I reported in the other issue).

[2017-08-07 12:08] RaphaelJenni commented on #16
@code-tree Thanks for the explanation.

So you think I should import it like you did it in the other issue? Hasn't that any side effects?

[2017-08-07 22:24] code-tree commented on #16
I think there must be a more elegant solution, but my mine seems to work fine at least. Only side effect is making `firebase` globally available on `window`.

[2017-08-26 23:42] patricknasc opened #18 "Where do I import FirebaseUISignInSuccess from?"
In the provided example:

successCallback(signInSuccessData: FirebaseUISignInSuccess) {
    ...
}

Where do I import FirebaseUISignInSuccess from?

[2017-08-27 12:14] RaphaelJenni commented on #18
It is called by an event
[Docs](https://github.com/RaphaelJenni/FirebaseUI-Angular#signinsuccess-callback)

[2017-08-27 12:29] sksvenson commented on #18
import { FirebaseUISignInSuccess } from 'firebaseui-angular';

[2017-08-27 15:17] RaphaelJenni commented on #18
Ah sorry. Look at @sksvenson answer

[2017-08-28 19:36] #18 closed

[2017-08-30 10:23] mlejva opened #19 "Lazy loading FirebaseUIModule"
Using custom modules that are being lazy loaded and that import `FirebaseUIModule` results in `Error: An AuthUI instance already exists for the key "[DEFAULT]"
Error: An AuthUI instance already exists for the key "[DEFAULT]` error.

Consider this scenario

### app.module.ts
[code]

### app.routing.ts
[code]

Now the login and register feature. Each having their own module.
### login.module.ts
[cod

[2017-09-08 08:21] RaphaelJenni commented on #19
Sorry for my late response. I will check that.

[2017-09-08 08:43] RaphaelJenni commented on #19
OK, I could reproduce it. I'm now trying to solve it. Will keep you updated.

[2017-09-08 08:59] RaphaelJenni commented on #16
I think I have found a solution.
Instead of importing firebaseui manually, I just store the firebaseui instance on the window object.

[2017-09-08 09:11] RaphaelJenni commented on #19
Ok, I found a fix. Version 0.4.4 is live now. Please give it a try and tell me if it solved the issue.

[2017-09-08 09:19] mlejva commented on #19
Thank you. I'm not sure whether I'll have time today to try it. I'll inform you soon though.

[2017-09-08 22:23] code-tree commented on #16
Ok, interesting. Seems like one way or another, something has to get attached to window then.

[2017-09-09 09:47] RaphaelJenni commented on #16
Yeah, I think that issue is solved by that. I close it.

[2017-09-09 09:47] #16 closed

[2017-09-11 09:37] mlejva commented on #19
Tested it today and it seems that everything is working properly. Thank you for the fix and sorry for the late response.

[2017-09-11 09:48] RaphaelJenni commented on #19
Perfect. So I close the issue.

[2017-09-11 09:48] #19 closed

[2017-09-14 09:02] giano574 opened #20 "credentialHelper"
In the FirebaseUI for Web - Auth, there is an option to specify the credentialHelper to use (https://github.com/firebase/firebaseui-web#credential-helper) in the options. This is option is missing in your library. Is there a temporary workaround?

[2017-09-14 09:12] RaphaelJenni commented on #20
I can fix that. Maybe this evening, but else I need a few days, as I don't know when I have time. Otherwise, you can create a PR.
Anyway, by default, it chooses the account chooser. To test it locally without the account chooser, you can hard code it directly to the library in the node_modules or deploy your one version.

[2017-09-15 07:18] RaphaelJenni commented on #20
Fixed it. Version 0.4.5 is live. There's now a configuration option called CredentialHelper

[2017-09-15 07:18] #20 closed

[2017-09-16 21:58] jkarttunen commented on #19
For anyone else arriving here by searching the error message. This is what you need to do:
https://github.com/RaphaelJenni/FirebaseUI-Angular/commit/365b8d4ba67b301221718e841d61a00a26110e94#diff-327e415746b172f4c43dbcfbbd7046d1R15

(Global variable is not necessary, you can prevent double initialization also with a variable in outer enough scope)

[2017-09-16 22:05] RaphaelJenni commented on #19
@jkarttunen I'm not sure what you mean with that? This is a commit I did and the newest versions has this fix already in it...

[2017-09-27 17:51] stansongman opened #21 "Running with ionic 3/angular 4"
Hello, I started integrating FirebaseUI-Angular into my ionic 3/angular 4 app.  It was very straightforward, although the formatting is not working properly as you can see.  I link to the .css file from within index.html, and that should work.

![screen shot 2017-09-27 at 1 44 26 pm](https://user-images.githubusercontent.com/22638931/30928683-3dac22e6-a38a-11e7-9764-37f910fb7483.png)

Any idea wha

[2017-09-27 22:16] GuateDevIO commented on #21
I face the same issue before and it was fixed after I added the firebaseui css to your imports:

Angular-CLI

File: .angular-cli.json

Path: "../node_modules/firebaseui/dist/firebaseui.css"

{
"apps": [
    {
      ...
      "styles": [
        "styles.css",
        "../node_modules/firebaseui/dist/firebaseui.css"
      ],
      "scripts": [],
      ...
    }
  ]
}

[2017-09-28 05:35] RaphaelJenni commented on #21
As GuateDevIO said add the css in the angular-cli file as described here (same part he coppied here): https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/README.MD#how-to-use

[2017-09-28 15:12] stansongman commented on #21
Thanks for the quick response.  I had done that, but debugging in Chrome I notice I’m getting a 404.  Where do you put .angular-cli.json into?  I have it in the root of my ionic project.

Thanks,
-s-

Stan Swiniarski
CEO and Co-founder
iPayMyWay, Inc.
sswiniarski@ipaymyway.com<mailto:sswiniarski@ipaymyway.com>
http://www.ipaymyway.com
m: 978.337.9017

[cid:F43058CA-28CD-4B67-BB52-FD88DC17F801]

On

[2017-09-28 16:08] RaphaelJenni commented on #21
Well, have you added the angular-cli by your self or was it generated in the beginning? Can you provide a sample project?

[2017-10-04 10:52] RaphaelJenni commented on #21
Were you able to solve this issue?

[2017-10-04 11:23] stansongman commented on #21
Sorry, I got pulled off onto other things.  It's an issue with getting ionic 3 to include css files from node_modules folders.  Here's an approach I'll be trying:  https://stackoverflow.com/questions/40943914/how-do-i-include-javascriptcss-from-node-modules-in-ionic-2

[2017-10-05 02:21] keith-nativemobile opened #22 "Sample doesn't compile"
Trying to run the current sample code I see:
firebaseui-angular"' has no exported member 'CredentialHelper'

I presume this is caused by the dependency "firebaseui-angular": "0.4.2" .

Experimenting with the dependencies I found that the following combination works:

    "angularfire2": "^5.0.0-rc.1",
    "core-js": "^2.4.1",
    "firebase": "^4.5.0",
    "firebaseui": "^2.2.1",
    "firebaseui-an

[2017-10-08 22:31] RaphaelJenni commented on #22
I will check that in the following days.

[2017-10-13 08:18] aleixsuau opened #23 "Login in progress"
Hi Raphael,
Thank you for your library.
One question: ¿Is there any way to know when the login action is in progress? I'd like to show a custom spinner...
I see that they add/remove an element with the class ".firebaseui-callback-indicator-container" while it's login but I can't find the mechanism.
Thanks!

[2017-10-18 08:48] RaphaelJenni commented on #21
Any luck? If yes I would like to close this issue.

[2017-10-18 08:52] RaphaelJenni commented on #23
So do I understand correct: You open the login process in a popup and want to show a spinner during the time the login process is running?

[2017-10-18 08:56] RaphaelJenni commented on #22
I need to update the plugin's dependencies. Will do that now.

[2017-10-18 09:13] RaphaelJenni commented on #22
Updated the plugin/sample and adjusted the plugin version to the firebaseui version. So version 2.4.0 is live now.

[2017-10-18 09:13] #22 closed

[2017-10-18 09:17] aleixsuau commented on #23
Hi @RaphaelJenni ,
I'm doing a redirection instead of the pop up, but yes, that is it.
Right now I'm able to know when the user auth state changes (AngularFireAuth.authState) but I'd like to know when the auth action starts and ends.
Thanks!

[2017-10-18 09:19] RaphaelJenni commented on #23
But if you have the redirect, the page isn't shown anyway, so no need for a loading indicator. Or do I understand something wrong?

[2017-10-18 09:41] aleixsuau commented on #23
When the redirect is done (the user is back in the app), authentification is still in process. In fact, the firebaseUI shows an spinner.
The thing is that I have the firebaseUI widget in a hover:menu and I want to keep it visible while the login is in progress. Then hide it when the auth is done.

[2017-10-18 11:16] #21 closed

[2017-11-14 09:59] Daaron3 commented on #15
I'm pleased to announce that localized versions of the widget are available through the CDN.

[2017-11-14 10:03] RaphaelJenni commented on #15
@Daaron3 what's the change? The CDN version was already available before...

[2017-11-14 13:11] Daaron3 commented on #15
Sorry my mistake, I accidentally changed npm for cdn...

[2017-11-24 03:12] ishandutta2007 opened #25 "Click-back-click sequence throws error?"
When I navigate away from this component using firebase-ui to some other component, then come back then again click on some other component, this is the error I get.
Note: **The error occurs while trying to navigate away again, any other component doesn't use firebase-ui element.**

[code]
Error Stacktrace:

[code]

[2017-11-28 08:25] RaphaelJenni commented on #25
can you provide a demo project?

[2017-11-28 08:29] ishandutta2007 commented on #25
I tried to make a plunkr through it's not building properly(I am not at building plunkrs), if you can modify a little you will be able to see the demo. If you are able to modify the plunker let me know I will update it with the corrected plunkr. https://stackoverflow.com/questions/47465676/click-back-and-click-again-throws-error

[2017-11-28 08:43] RaphaelJenni commented on #15
@Daaron3 where have you found that news? Haven't found an npm distribution

[2017-11-28 09:34] RaphaelJenni commented on #25
@ishandutta2007 answered your StackOverflow question. The new version should fix that issue.

[2017-11-28 11:35] ishandutta2007 opened #26 "signOutSuccess callback needed"
On lines of https://github.com/RaphaelJenni/FirebaseUI-Angular/issues/14
I need to reset my user object in browser, signOutSuccess callback seems to be the best non-hackish approach but we dont have it yet.

[2017-11-29 06:48] RaphaelJenni commented on #26
I will do that as soon as possible. But I'm also open for PR's.

[2017-11-30 05:03] choopage opened #27 "feat: Integrates one-tap sign-up"
Integrates one-tap sign-up with FirebaseUI-web: https://developers.google.com/identity/one-tap/web/overview

Available with v2.5 of FirebaseUI-web https://github.com/firebase/firebaseui-web/releases

[2017-11-30 06:46] RaphaelJenni commented on #27
It's already integtated in the newest version. But haven't updated the README yet. I will do that in the coming days.

[2017-12-03 16:48] johnking opened #28 "please remove line `import rxjs/Rx' from index.js which is unused but may cause some problems."
Hi @RaphaelJenni,
First of all, thanks a lot for your package and it saved me lot of time to develop my own.

I was struggling to troubleshooting an error occurred in this package after upgrading other packages, similar to [ERROR in ./node_modules/rxjs/_esm5/observable/BoundNodeCallbackObservable.js](https://github.com/angular/angular/issues/20095)

After commenting out the line `import 'rxjs/Rx'`

[2017-12-04 19:27] RaphaelJenni commented on #28
I will do that ASAP

[2017-12-04 19:28] RaphaelJenni commented on #25
@ishandutta2007 any news?

[2017-12-04 19:28] #15 closed

[2017-12-05 09:35] #25 closed

[2017-12-05 12:40] RaphaelJenni commented on #27
Done with: f17455829151358a84f05abc146f27942bf3ee8d

[2017-12-05 12:40] #27 closed

[2017-12-05 12:50] johnking commented on #28
thanks Raphael!

[2017-12-05 13:02] #28 closed

[2017-12-05 13:03] RaphaelJenni commented on #28
Fixed in `v2.5.2`.

[2017-12-05 18:29] johnking commented on #28
Thanks!

[2017-12-07 17:40] ishandutta2007 commented on #25
I pivoted to a different approach, so without reverting my codebase to that point I can't confirm if it was version that was causing the issue.

[2017-12-08 09:09] RaphaelJenni commented on #25
Ok, if you have any further issues, feel free to comment again/ open an issue

[2017-12-27 05:02] randroid88 opened #29 "Firebase 4.8.1 was refactored... imports now from @firebase"
See this issue which is affecting FirebaseUI-Angular:
https://github.com/firebase/firebase-js-sdk/issues/388

[2017-12-30 08:28] RaphaelJenni commented on #29
I will do that ASAP.

[2017-12-30 08:53] RaphaelJenni commented on #29
I updated the plugin dependencies, but angularfire2 has the same problem. Have to wait to be fixed by them.

[2018-02-03 09:25] #29 closed

[2018-02-03 21:22] ih57452 opened #32 "Build error with 2.6.0"
I'm getting this error when I try to build with version 2.6.0:
[code]
I installed `@firebase/auth-types` in my main `./node_modules` folder but it still doesn't work. Should it be included in the peer dependencies?

[2018-02-03 22:16] RaphaelJenni commented on #32
Try to update firebase to the newest version.

[2018-02-04 00:37] ih57452 commented on #32
I have firebase 4.9.1 and the newest versions of everything else installed. I went to the `firebaseui-angular/sample`  folder and ran `npm install` and `ng build` and I get the same error. Here is the full error text:
[code]
When I searched for `Field 'browser' doesn't contain a valid alias configuration` I found a couple of bugs on the Angular CLI, but I don't know if they're causing this or not.

[2018-02-04 11:07] RaphaelJenni commented on #32
Got the same error. I'll look into it.

[2018-02-05 00:34] RaphaelJenni commented on #32
Should be fixed in version 2.6.1
Please check it and close the issue if it works

[2018-02-05 00:49] ih57452 commented on #32
Works fine with 2.6.1. Thanks!

[2018-02-05 00:49] #32 closed

[2018-02-14 07:05] MJahangir82 opened #34 "Verify your phone number"
After entering 6 digit number --> click on Continue button. following error message in the console log.

IN FIREFOX,

ERROR TypeError: a is undefined
core.js:1448
Stack trace:
Ca@webpack-internal:///../../../../firebaseui/dist/npm.js:83:211
Fl@webpack-internal:///../../../../firebaseui/dist/npm.js:324:257
G.phoneSignInFinish/g<@webpack-internal:///../../../../firebaseui/dist/npm.js:325:436
ak/<@we

[2018-02-14 07:08] MJahangir82 commented on #34
![image](https://user-images.githubusercontent.com/22867317/36191603-60c8b3ce-1177-11e8-9fbc-25b77a5d63e1.png)

[2018-02-14 07:32] MJahangir82 commented on #34
![image](https://user-images.githubusercontent.com/22867317/36192382-ae00b968-117a-11e8-9a10-cd60bb7589d8.png)

[2018-02-14 12:27] MJahangir82 commented on #34
in Chrome, error is

![image](https://user-images.githubusercontent.com/22867317/36204246-fd50c23c-11a3-11e8-9c80-02fdf6c3ff7a.png)

[2018-02-14 12:29] MJahangir82 commented on #34
![image](https://user-images.githubusercontent.com/22867317/36204318-45d20638-11a4-11e8-8804-533684e17839.png)

[2018-02-16 07:03] kshkrao3 commented on #34
@RaphaelJenni Any updates on this?

[2018-02-16 07:04] RaphaelJenni commented on #34
I will look into it today. I'll weep you posted.

[2018-02-16 07:10] kshkrao3 commented on #34
@RaphaelJenni Also getting below error logged in the console when logging in with any of the providers.

![error1](https://user-images.githubusercontent.com/11007754/36297028-8bbff704-1316-11e8-94e1-f74f327b54d6.png)

[2018-02-16 08:03] kshkrao3 opened #35 "Invoke phone login screen for unauthorized user"
Probably this is a question/feature request [if unavailable]

I am building an e-commerce application and when an unauthorized user is about checkout any item purchased, I would like to authorize him with the phone number he entered [phone number is mandatory], with which I can also assure that he is a valid user.

Is it possible to invoke phone auth specifically on some action with the phone numb

[2018-02-16 09:14] RaphaelJenni commented on #34
@kshkrao3 I get the same error except for password auth. I'll keep looking into it.

[2018-02-16 09:23] RaphaelJenni commented on #34
@MJahangir82 There is a StackOverflow question about this (currently no answers):  https://stackoverflow.com/questions/48681631/firebaseui-js-uncaught-typeerror-cannot-read-property-call-of-undefined#

[2018-02-16 09:26] RaphaelJenni commented on #34
@MJahangir82 have you tried it already somewhere else and is the setup correct? (android, ios, native js, ...)

[2018-02-16 09:30] RaphaelJenni commented on #35
According to this docs you can prefil the phone numebr: https://stackoverflow.com/questions/48681631/firebaseui-js-uncaught-typeerror-cannot-read-property-call-of-undefined#

To invoke it only on user action you can use ngIf on the component and only show it if it should. (That's the current state). If you have something different in mind feel free to comment it here or create a PR.

[2018-02-16 09:47] kshkrao3 commented on #34
@RaphaelJenni But the above screenshot issue doesn't affect the application flow. Everything works as expected. Still not sure whether that should be worried about or not.

[2018-02-16 09:53] RaphaelJenni commented on #34
@kshkrao3 yes, same here 😂

[2018-02-16 09:55] kshkrao3 commented on #35
@RaphaelJenni The link for doc you provided is the same you posted on #34. Is that right?

ngIf should be used on the complete component? I mean on `<firebase-ui></firebase-ui>`? Should I use phone login method separately and add `<firebase-ui></firebase-ui>`? Bit confused here? Can we configure/prefil number on go?

[2018-02-16 09:57] kshkrao3 commented on #34
@RaphaelJenni I would really like to help on this but am unsure of how to create PR or update the repository. Just a GitHub noob here. :(

[2018-02-16 10:05] RaphaelJenni commented on #35
I updated the link.
I haven't worked with phone auth yet... have to look into it at some point.

[2018-02-16 10:07] RaphaelJenni commented on #34
Just create a fork. And when you are done with the work press the create pull request button on this repo.

[2018-02-16 10:11] kshkrao3 commented on #35
@RaphaelJenni Surely. Please let me know if you have any upgrades on this.. :)

[2018-02-16 10:58] kshkrao3 commented on #34
@RaphaelJenni I was debugging this issue and I feel like this is from `firebase ui` end. I am not sure though. But am getting error logged in `npm.js` of `firebase-ui dist`.

[2018-02-16 15:13] MJahangir82 commented on #34
@RaphaelJenni, no answer stack overflow. this is my first experience to work with angular & firebase. I let experts like you check this issue.  :)

[2018-02-17 12:33] MJahangir82 commented on #34
This is an issue introduced in 2.6.0. They already released 2.6.1 with the fix earlier today. Could you please try to upgrade your firebaseui? it will work. :)

[2018-02-17 12:33] #34 closed

[2018-02-20 19:27] kshkrao3 commented on #34
@MJahangir82 @RaphaelJenni The issue has been fixed with `firebaseui` upgrade. Thanks for the support.. :)

[2018-02-22 17:38] ribrdb opened #36 "OneTap doesn't work"
If I change the sample app to use AuthMethods.Redirect and CredentialHelper.OneTap, there is an uncaught exception after signing in. I tried logging in with both Google and Facebook providers, but they both have the exception.

[2018-02-27 09:17] matiishyn opened #37 "Auth stopped working after updating to latest dependencies"
This used to work fine but stopped working after updating dependencies.
Currently I'm investigating what causes the problem,
but here's what I get:
video here http://recordit.co/vMDm8Wj3Y8
![image](https://user-images.githubusercontent.com/3661065/36719662-5b65c41c-1bae-11e8-8314-a63603f8b90d.png)

The error (`signInWithCredential failed: First argument "credential" must be a valid credential.`) h

[2018-02-27 10:27] RaphaelJenni commented on #37
I have to check that. In the release notes they mentioned something about an api change.

[2018-02-27 10:32] RaphaelJenni commented on #36
How have you configured the oneTap option?

[2018-02-27 10:46] RaphaelJenni commented on #37
I don't have this problem. And can't reproduce it. Same versions as you have. How did you update? Maybe there is a version mismatch. You can try to delete the `node_modules` and the `package-lock.json` and run npm install. Maybe this will solve the issue.

[2018-02-27 15:26] ribrdb commented on #36
Actually it appears this is a bug in FirebaseUI 2.6.x, if I switch back to 2.5.1 it works.

[2018-02-27 15:26] #36 closed

[2018-02-27 17:35] stevebrowndotco commented on #37
I can confirm I am getting the same issue.

[2018-02-27 17:39] matiishyn commented on #37
good
well, not good that you get you
but good that I'm not the only one getting this.

I tried to revert `firebaseui` to some older versions but it didn't help.

[2018-02-27 17:40] stevebrowndotco commented on #37
Please let me know if you fix it! I am also debugging

[2018-02-27 17:56] matiishyn commented on #37
reverting `firebase` to `"firebase": "4.10.0",` helped.
It causes another error,
but at least it works :)

![image](https://user-images.githubusercontent.com/3661065/36745426-1daa580a-1bf8-11e8-901c-1c40e5587cfe.png)

[2018-02-27 18:40] RaphaelJenni commented on #37
Yes, this is a known issue, but not resolved yet.

[2018-02-28 01:55] pashaseliverstov opened #38 "requireDisplayName: false"
How to configure requireDisplayName with firebaseUiAuthConfig?
signInOptions: [
        {
          provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
          requireDisplayName: false
        }
      ]

[2018-02-28 10:21] stevebrowndotco commented on #37
I can confirm that the downgrading to the following versions fix the issue:

[code]

@RaphaelJenni  It looks like the bug occurs after firebaseui 2.5.1.

@matiishyn note that I can use firebase 4.10.1.

[2018-03-10 10:44] RancLoucka1 opened #39 "Q: Localised Widget?"
Hi, any idea on how to make this localised? I would like to show the contents in Czech language preferably. I am aware that there is an localised widget for FirebaseUI for inline insertion through <script> tag, however, that does not seem to apply for NPM modules or Angular CLI. I guess I could clone and rebuild the original FirebaseUI with localised data and somehow make FirebaseUI-Angular use it

[2018-03-10 10:56] RaphaelJenni commented on #39
Currently it the npm package isn't supported. The option that you build the package yourself is possible, you just need to replace the original firebase plugin with your own version, FirebaseUI-Angular shouldn't be affected by that.
The problem of updates can't be solved right now. You can create a script, which would clone the newest version from GitHub and build the plugin in the desired languag

[2018-03-10 11:01] RancLoucka1 commented on #39
Thanks RaphaelJenni. This is unfortunate, but the ball is at the Google's side I guess. I will try to rebuild the FurebaseUI then ...

[2018-03-20 06:59] #39 closed

[2018-03-20 07:10] RaphaelJenni commented on #38
Sorry, I have missed this issue.

It should work like that, but I'm not sure if it is implemented correctly. I will check it and inform you about the result.
[code]

[2018-03-20 07:22] RaphaelJenni commented on #38
@pashaseliverstov Checked it. It works.

[2018-03-20 07:22] #38 closed

[2018-03-20 07:24] RaphaelJenni commented on #37
Installed the newest versions. No errors for me anymore. Can you verify if the problem is solved?

Dependencies of the sample project:
[code]

[2018-03-21 17:22] IlCallo opened #40 ""method" default not working"
In the docs it's written that the "method" option of the configuration is optional and that "AuthMethods.Popup" will be used is none is specified.
I tried using the package with minimal configuration (only "providers" array and only Password provider) and Angular complained about needing the "method" option.

If I set that option, it works just fine.

[2018-03-22 06:59] RaphaelJenni commented on #40
Oh, I will look into it ASAP.

[2018-03-22 17:28] RaphaelJenni commented on #40
Version 2.6.2 live now. Should be fixed.

[2018-03-22 17:28] #40 closed

[2018-03-23 02:10] keith-nativemobile opened #41 "Fails when built for production with build-optimizer=true"
We just upgraded from Angular 4 to 5. Sign in with Google, Facebook etc work in dev mode but when building for production with the --prod flag, the app crashes with the exception "Cannot read property 'GoogleAuthProvider' of undefined:"

![screen shot 2018-03-23 at 3 05 11 pm](https://user-images.githubusercontent.com/16183849/37807721-c8309c88-2eab-11e8-807f-1aaf85cfcad1.png)

If I build with --p

[2018-03-23 08:36] RaphaelJenni commented on #41
I will look into it this weekend.

[2018-03-24 11:32] RaphaelJenni commented on #41
No problem for me...

![image](https://user-images.githubusercontent.com/14369284/37863507-54581a2a-2f5f-11e8-82b4-04dcb3d389f9.png)

[2018-03-26 09:40] powercover commented on #21
@stansongman its easy with **ionic3**

1. Create folder **config** under root directory
2. Create file called **copy.config.js** with code:
`module.exports = {
  copyFirebaseUiCss: {
    src: ['./node_modules/firebaseui/dist/firebaseui.css'],
    dest: '{{BUILD}}'
  }
}`
3. Next modify **package.json** and insert
`"ionic_copy": "./config/copy.config.js"` inside **config** object
4. Add `<link href

[2018-03-29 12:27] RaphaelJenni commented on #41
@keith-nativemobile Any news on your side?

[2018-04-02 16:39] Ferhatos opened #42 "Internationalization : Language translation"
This is a question/feature request [if unavailable]

Hello,
Is there a way to change the UI's language ?

Thank you.

[2018-04-02 16:43] RaphaelJenni commented on #42
https://github.com/RaphaelJenni/FirebaseUI-Angular/issues/15#issuecomment-320622593

[2018-04-04 00:51] nexant-ienergy commented on #38
Thank you!. Could you please release version 2.6.2

[2018-04-05 02:16] nexant-ienergy commented on #38
![image](https://user-images.githubusercontent.com/4432097/38344129-b08b29aa-383c-11e8-934c-bf5d3f30c054.png)

[2018-04-05 05:01] RaphaelJenni commented on #38
Ah yeah sorry, will add it to the github releases. Stil getting used to that.

[2018-04-13 10:00] olegkoff commented on #42
Please make options for change strings. Need to localize your widget.

[2018-04-13 11:26] #37 closed

[2018-04-13 11:27] RaphaelJenni commented on #41
Close due to inactivity.

[2018-04-13 11:27] #41 closed

[2018-04-13 11:30] olegkoff commented on #42
Ok, how can I translate srtings like "Sign in with" to any of others languages which user chose?

[2018-04-13 11:33] RaphaelJenni commented on #42
As mentioned in issue #15 this isn't possible by default at the moment. There are some ways mentioned.

[2018-04-13 11:35] olegkoff commented on #42
I'm sad like a back of Seat Altea 4.

[2018-04-28 04:56] praveeno commented on #26
Let me know, how can i help

[2018-04-28 05:03] praveeno opened #43 "Error: firebaseui-angular.d.ts, found version 4, expected 3"
Hello,
Recently I update dependencies, and afterwards getting error

![image](https://user-images.githubusercontent.com/19618730/39392194-586e18cc-4acf-11e8-9043-ff62fd6c4d48.png)

depedency version
![image](https://user-images.githubusercontent.com/19618730/39392200-7853860e-4acf-11e8-8b13-62ec331586d7.png)

let me know, how to solve this.

[2018-04-28 12:52] RaphaelJenni commented on #26
Sorry, it went under...
@praveeno You can implement that functionality and create a PR for that.

[2018-04-28 12:53] RaphaelJenni commented on #43
@praveeno Have you tried to delete the node_modules folder and run `npm install` again?

[2018-04-29 12:25] praveeno commented on #43
Yes, I done that, still getting same error

[2018-04-30 03:56] kingkassem opened #44 "TypeError: Cannot read property 'GoogleAuthProvider' of undefined"
webpack-internal:///../../../../firebaseui-angular/index.js:103 Uncaught TypeError: Cannot read property 'GoogleAuthProvider' of undefined
    at eval (webpack-internal:///../../../../firebaseui-angular/index.js:103)
    at Object.../../../../firebaseui-angular/index.js (vendor.bundle.js:3279)
    at __webpack_require__ (inline.bundle.js:55)
    at eval (webpack-internal:///../../../../../src/app/

[2018-04-30 09:13] RaphaelJenni commented on #43
Can you try to update your dependencies to this versions:

[code]

[2018-04-30 09:13] RaphaelJenni commented on #44
Please provide some more details.

[2018-04-30 09:16] RaphaelJenni opened #45 "Upgrade the plugin structure to the Angular 6 template"
With angular 6 comes the tooling for creating libraries. Rewrite this library to use those new features as soon as Ng@6 is released.

[2018-04-30 09:17] RaphaelJenni commented on #26
I will look into that together with #45

[2018-04-30 22:27] kingkassem commented on #44
os: windows 10
Google Chrome Version 66.0.3359.139 (Official Build) (64-bit)
i tried to down grade to older firebase and firebaseui but the same error

i don't know why this problem

[2018-04-30 23:05] RaphaelJenni commented on #44
Have you tried the sample app of this repo?

[2018-04-30 23:17] kingkassem commented on #44
yes, and it works fine

[2018-04-30 23:25] kingkassem commented on #44
ok , i will try

[2018-05-01 16:38] kingkassem commented on #44
after remove node_modules folder and run npm i again and upgrade angularfire it works without this error
but the component didn't rendered and the page is empty although i found it in the chrome dev tools ??

[2018-05-01 16:50] RaphaelJenni commented on #44
Any errors?

[2018-05-01 19:27] kingkassem commented on #44
no errors, when i ng new Project and install it with angluarfire@next same thing nothing appears

although when i use it with angular 6 beta it works as required !!!

[2018-05-02 01:47] ih57452 commented on #44
I was getting the same error using firebase@4.13. I downgraded to 4.12 and it works again.

[2018-05-02 03:06] kingkassem commented on #44
@ih57452 what is the version for angularfire2 , firebaseui,  firebaseui-angular you use.

[2018-05-02 03:11] ih57452 commented on #44
I'm using the latest version of everything else; the same versions you have in your first post.

[2018-05-02 03:30] praveeno commented on #43
I'll  try this also, after see a stackoverflow answer, but it also not help

[2018-05-02 07:18] RaphaelJenni commented on #43
Which version of angular do you use?

[2018-05-03 01:42] kingkassem commented on #44
thanks alot now it works

[2018-05-03 16:36] #44 closed

[2018-05-12 17:46] bancroftway opened #47 "Getting exception when using on Angular 6 project"
I installed this package on a new Angular6 project, and followed the installation instructions. My app.module.ts looks like this:

[code]

However I am getting this exception:
[code]

[2018-05-12 23:24] aideslucas opened #48 "ERROR TypeError: firebase.initializeApp is not a function"
`"@angular/animations": "6.0.0",
    "@angular/cdk": "^6.0.0",
    "@angular/common": "6.0.0",
    "@angular/compiler": "6.0.0",
    "@angular/core": "6.0.0",
    "@angular/forms": "6.0.0",
    "@angular/http": "6.0.0",
    "@angular/material": "^6.0.0",
    "@angular/platform-browser": "6.0.0",
    "@angular/platform-browser-dynamic": "6.0.0",
    "@angular/router": "6.0.0",
    "angularfire2": "

[2018-05-13 00:58] bancroftway commented on #47
It looks identical to the sample project. Another user has reported this same [issue](https://github.com/RaphaelJenni/FirebaseUI-Angular/issues/48). Please take a look at this when you get a chance. Thanks

[2018-05-13 06:45] RaphaelJenni commented on #47
Yes will look into it ASAP

[2018-05-13 13:06] #48 closed

[2018-05-13 13:16] RaphaelJenni commented on #47
This is a problem with `firebaseui@3.0.0`, looking for a fix now.

[2018-05-13 13:54] RaphaelJenni commented on #47
This is a compatibility problem between firebase, firebaseui and angularfire2. They are already working on a fix. I will update the package as soon as the fix is released. For now, just downgrade firebaseui to a version prior to 3.0.0.

[2018-05-13 22:49] keith-nativemobile opened #49 "Support firebase-ui 3.0"
I checked out version 2.6.2 and confirmed that the sample ran as expected. I then updated the sample project to use firebase 5.0.2, angualrfire 5.0.0-rc.7 and firebaseui v3.0.0.

 I see this warning:

[WDS] Warnings while compiling.
index.js:147
./node_modules/firebaseui-angular/index.js
index.js:153
87:25-31 "export 'auth' (imported as 'auth$2') was not found in 'firebase/app'
 @ ./node_modules/f

[2018-05-17 07:36] #45 closed

[2018-05-17 07:37] RaphaelJenni commented on #47
A new version of angularfire2 is out. Will upgrade the plugin today in the evening.

[2018-05-17 07:38] RaphaelJenni commented on #49
This issue already exists in #47

[2018-05-23 23:42] kdubau opened #50 "This package uses a development build of Firebase."
Warning produced under latest firebase/angular:
[code]

I believe the issue is here: https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/projects/firebaseui-angular-library/src/lib/firebaseui-angular-library.component.ts#L9

And I think the fix is changing that line to simply: `import * as firebase from 'firebase/app';` but then you'll also need to include the auth module: `import 'fire

[2018-05-24 12:18] RaphaelJenni commented on #50
Hey
I'm aware of that. Currently, there are some incompatibilities going on with all the different firebase plugins. I'm working on a fix, which should include this issue as well.

[2018-05-27 08:18] RaphaelJenni commented on #50
Version 3.0.0 is out now.

[2018-05-27 08:18] #50 closed

[2018-05-27 08:18] RaphaelJenni commented on #49
Version 3.0.0 is out now.

[2018-05-27 08:18] #49 closed

[2018-05-27 08:18] RaphaelJenni commented on #47
Version 3.0.0 is out now.

[2018-05-27 08:18] #47 closed

[2018-05-27 08:19] RaphaelJenni commented on #43
Version 3.0.0 is out now.

[2018-05-27 08:19] #43 closed

[2018-05-28 08:47] matiishyn opened #52 "Stop using Development build of the Firebase JS SDK"
Hello
I've got this message in my console which leads to the `firebaseui-angular.js` file
![image](https://user-images.githubusercontent.com/3661065/40605871-564c3862-626c-11e8-8a80-e7a10da2489f.png)
Looks like there are some `import`s inside the `firebaseui-angular` module
![image](https://user-images.githubusercontent.com/3661065/40606019-bd7e22ca-626c-11e8-97dc-7e7d122a08bb.png)
So, I'm wonderi

[2018-05-28 12:57] #52 closed

[2018-05-28 21:52] choopage opened #53 "doc: Provide upgrading of anonymous users"
How to provide upgrading of anonymous users? It is a feature available in Firebase Web UI. https://github.com/firebase/firebaseui-web#upgrading-anonymous-users

[2018-05-28 21:55] choopage opened #54 "question: Is your OneTap working in dev. environment?"
My OneTap is not working in my localhost environment. Is yours working?
It could have been my setting misconfigured.
My only configuration is

[code]

*note: In localhost environment OneTap should work without need for [approval](https://developers.google.com/identity/one-tap/web/get-started).

[2018-05-29 07:45] RaphaelJenni commented on #53
Sorry, missed that. Will do that ASAP.

[2018-05-29 07:46] RaphaelJenni commented on #54
I will check that.

[2018-05-29 14:15] CharlJKruger opened #55 "Errors when trying to serve"
I am trying to get a fresh project working after the v3 release though getting the below errors, should I lock down the versions to something stable?

Error after ng serve

`ERROR in node_modules/angularfire2/auth/auth.d.ts(4,10): error TS2305: Module '"../node_modules/firebase/app/index"' has no exported member 'User'.
node_modules/angularfire2/auth/auth.d.ts(4,16): error TS2305: Module '"../node

[2018-05-29 14:45] RaphaelJenni commented on #55
Had the same error I think. Try to delete the `node_modules` folder and the `package-lock.json` file. And run `npm i ` again.

[2018-05-29 14:57] CharlJKruger commented on #55
Unfortunately not working :(

Here is the npm i output

[code]

[2018-05-29 14:59] RaphaelJenni commented on #55
The installation seems to work...

[2018-05-30 02:08] choopage opened #56 "doc: Use idTokenResult Observables"
In [AngularFire2 (version 5.0.0-rc.9)](https://github.com/angular/angularfire2/blob/master/CHANGELOG.md#500-rc9-2018-05-16), a new features in auth where AngularFire2 has added user and idTokenResult Observables to AngularFireAuth. How do we use idTokenResult with FirebaseUI-Angular?

[2018-05-30 08:20] CharlJKruger commented on #55
I upgraded angular cli, verified npm cache and tried again and working :)

[2018-05-30 08:20] #55 closed

[2018-05-31 17:39] RaphaelJenni commented on #56
I will look into itl.

[2018-05-31 18:04] RaphaelJenni commented on #56
What exactly do you want to get from the FirebaseUI-Angular? You can retrieve the `user` and the `idTokenResult ` directly via angularfire. Or have I misunderstood something?

[2018-05-31 18:14] RaphaelJenni commented on #53
Fixed in 3.0.1

[2018-06-05 02:56] choopage commented on #56
I think idTokenResult is the way to access the detail from af2 that they introduced. I am not sure either. It should be something to be used going fwd I guess.

[2018-06-05 02:57] choopage commented on #54
Hi @RaphaelJenni is your onetap working?

[2018-06-05 02:59] choopage commented on #53
hi @RaphaelJenni thanks for fixing this. May I know how to go about using upgrading anonymous users with your library? Do you have brief documentation on this.

[2018-06-05 05:38] RaphaelJenni commented on #54
Haven'thad the time to look further into it. Will keep you posted.

[2018-06-05 05:39] RaphaelJenni commented on #53
Is documented in the ReadMe: https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/README.MD#config

[2018-06-05 16:05] choopage commented on #53
@RaphaelJenni When using upgrade anonymous, it needs to use this method signInFailure https://github.com/firebase/firebaseui-web#signinfailureerror which is mentioned https://github.com/firebase/firebaseui-web#handling-anonymous-user-upgrade-merge-conflicts

Could you expose `signInFailure()` method?

[2018-06-05 18:58] #53 closed

[2018-06-05 18:59] RaphaelJenni commented on #53
Fixed in 3.0.2

[2018-06-06 07:12] choopage opened #57 "feat: Add forRoot & forFeature"
I.e. ngrx has forRoot & forFeature https://stackoverflow.com/questions/46348412/what-is-the-difference-between-storemodule-forroot-and-storemodule-forfeature

For FirebaseUI-Angular by having .forRoot that initialises in the AppModule, we could also have an instance of .forFeature that is being used for lazy loaded feature modules. So this would be possible to also use
  `        <firebase-ui></fi

[2018-06-06 14:48] jscti opened #58 "Weird deprecation warnings"
Hi there. Got two warnings from firebaseui-angular (and firebaseui) :

I only used the `signInSuccessWithAuthResult` in my template (but it's not documented (yet?)). After diging through the code, I saw that the firebaseUiAngular warning is emited independently of the use or not of either callback, which seems weird.
So well, I used disableSignInSuccessCallback=false but ... didn't understood all

[2018-06-06 14:59] RaphaelJenni commented on #58
Hello @jscti, sorry for the confusion.
I change it to this behavior yesterday.

FirebaseUi has currently two different callbacks for the same thing. `signInSuccess` which now is deprecated and `signInSuccessWithAuthResult`.
To not break any already running stuff, I added this functionality to be able to disable it entirely.

So, if you set `disableSignInSuccessCallback` to `true`, the `signInSucce

[2018-06-06 15:10] jscti commented on #58
Thanks for the (super) quick answer !

Totally understood with your comment. Maybe you could :
- add this detailed explanation in your flag documentation
- not show the warning + auto-disable-signInSuccess (for firebaseui) when `signInSuccessWithAuthResult`is properly used (and `signInSuccess` not used ..)
?

But I guess anybody having the same problem as me will fall here and understand.
Thanks

[2018-06-07 02:37] choopage commented on #53
@RaphaelJenni could you accept this PR. Many thanks.

[2018-06-07 06:06] RaphaelJenni commented on #53
Thanks for the PR. I will check it this evening.

[2018-06-07 18:22] #58 closed

[2018-06-10 05:39] choopage opened #60 "npm repo version issue for 3.0.3 of firebaseui-angular"
@RaphaelJenni for version 3.0.3 of https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/projects/firebaseui-angular-library/src/lib/firebaseui-angular-library.component.ts

![screen shot 2018-06-10 at 1 21 53 pm](https://user-images.githubusercontent.com/6467136/41198514-56c9a550-6cb1-11e8-87eb-438215769705.png)
did you see Line 68 of above image
in your /node_modules/firebaseui-angular

[2018-06-10 07:42] RaphaelJenni commented on #60
Oh damn, sorry. You are correct. I will correct that immediately.

[2018-06-10 09:37] RaphaelJenni commented on #60
3.0.4 is life

[2018-06-10 09:39] #60 closed

[2018-06-11 20:57] maximelafarie commented on #57
I would also love to see this feature implemented! 😉

[2018-06-11 22:10] maximelafarie opened #61 "Error 404 on buffer.svg"
I have the following error in the Developer Console when including `<firebase-ui></firebase-ui>` in any component:

`GET http://localhost:4470/images/buffer.svg?embed 404 (Not Found)`

Screenshot below:
![image](https://user-images.githubusercontent.com/5319267/41259609-85709944-6dd4-11e8-8638-59ec8b3264d2.png)

I think there is a related issue here : firebase/firebaseui-web/issues/82

I guess thi

[2018-06-15 09:39] RaphaelJenni commented on #61
Will look into this this weekend

[2018-06-15 09:39] RaphaelJenni commented on #57
Will look into this this weekend

[2018-06-17 14:41] RaphaelJenni commented on #57
So I finally had some time to check this issue. The plugin works this way anyway. You initialize the module in the main module with `forRoot`, in every other (lazy loaded) module you import it without the forRoot.

You can read more about that in here: https://medium.com/@chrishouse/when-to-use-angulars-forroot-method-400094a0ebb7

The forFeature is only ngrx to import some further sub stores. Thi

[2018-06-17 14:59] RaphaelJenni commented on #61
You can put this into your styles.scss file:
[code]

and put a `buffer.svg` file into `assets/images`.
This will stop this error message.

Else I would have to host the firebaseui stylesheet myself and that would bring up some delays if there is an update.

[2018-06-17 14:59] #61 closed

[2018-06-17 15:04] RaphaelJenni commented on #57
I'll close this, if anything isn't clear or I understood something wrong, feel free to open it again.

[2018-06-17 15:17] RaphaelJenni commented on #54
Works for me.

Followed: 904881165672-atf98n8fte5iqflf3g3g9esf3rrmgjq5.apps.googleusercontent.com and https://developers.google.com/identity/one-tap/web/get-started

[2018-06-17 15:19] RaphaelJenni commented on #54
[code]

![image](https://user-images.githubusercontent.com/14369284/41509339-86143da6-7252-11e8-9735-4233e7bbcf18.png)

[2018-06-17 15:36] RaphaelJenni commented on #26
Hello @ishandutta2007
Sorry, that it took so long.

To get the sign out callback, you should use AngularFire, as this project is just a wrapper around the official one. If they implement a callback like that, I will integrate it as well,

[2018-06-17 15:36] #26 closed

[2018-06-17 15:39] RaphaelJenni commented on #23
I will close that because of inactivity.

If this still is an issue you could try to use the callback to close it. It that doesn't work for you, feel free to reopen this issue.

[2018-06-17 15:39] #23 closed

[2018-06-17 15:41] RaphaelJenni commented on #35
@kshkrao3 have you found a solution for that?

[2018-06-18 16:29] kshkrao3 commented on #35
@RaphaelJenni Not really, but I changed it to be a general way of logging in so that user has to be authorized before he can checkout.

[2018-06-18 17:22] #35 closed

[2018-06-19 08:40] choopage commented on #54
Hi @RaphaelJenni

Thank you for your guide. It's working now. I missed something that you highlighted above.

[2018-06-19 08:40] #54 closed

[2018-06-20 15:16] kshkrao3 commented on #35
That's fine @RaphaelJenni. We can close this for now..

[2018-06-23 09:03] aideslucas opened #62 "Phone auth check if user exist"
Hi, I know the default behavior of firebase is that if the user doesn’t exists it creates a new one,
Is there a way I can get the phone number provided in the FirebaseUI-angular before it requests the code to send it to a function that checks if the user exists?

[2018-06-23 11:00] RaphaelJenni commented on #62
At the moment this isn't possible, as all the data is inside the widget and not accessible from outside.
But what exactly is the use case?
If you just want to check if the user is a new one or not to have a custom app behavior, you can use the `additonalUserInfo` with the `isNewUser` flag.
This is provided by firebaseui threw the authResult:
- https://github.com/firebase/firebaseui-web#available-c

[2018-06-23 18:36] aideslucas commented on #62
My use case is that we don’t want to allow new users to be created from the login
So I would like to check if the user exists before firebase sends the verification code

[2018-06-25 10:45] RaphaelJenni commented on #62
Found this on the firebaseui repo: https://github.com/firebase/firebaseui-web/issues/99

TL;DR: It is currently not supported, but the ticket is still open.

[2018-06-25 10:48] RaphaelJenni opened #63 "Update to v3.1.0"
https://github.com/firebase/firebaseui-web/releases/tag/v3.1.0

[2018-06-26 17:14] francoisr opened #64 "Update README on how to run the demo app"
Hello, thanks for the angular wrapper.
Just a comment that the readme mentions a sample directory for a demo. Such a folder does not exist.
Could you include the sample folder, would it be only for newbies like myself.

There may be other ways to have the app work but I managed to get the demo working by ng serve of the /src folder only after
1 - main.module.ts couldn't resolve the firebaseui-angu

[2018-06-26 18:22] RaphaelJenni commented on #64
Hi, I have to update the README. The Demo project is now the root. The library is located inside the `projects/firebaseui-angular-library folder.

To run the demo you have to run `npm install` in the root of the app and run `ng serve` afterward.
This will show you an error because of the missing configurations. (https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/src/environments/enviro

[2018-06-27 02:46] sgehrman opened #65 "Namespace 'firebaseui.auth' has no exported member 'AuthResult'"
ERROR in node_modules/firebaseui-angular/lib/firebaseui-angular-library.helper.d.ts(2,37): error TS2694: Namespace 'firebaseui.auth' has no exported member 'AuthResult'.

What did I do wrong?

[2018-06-27 02:57] sgehrman commented on #65
nevermind, old versions of firebaseui

[2018-06-27 03:08] sgehrman commented on #65
Updated to the latest versions of everything and still get this.

[2018-06-27 05:53] sgehrman commented on #65
I'm assuming it should be firebase.auth.AuthResult?

[2018-06-27 06:11] RaphaelJenni commented on #64
@francoisr Sorry forgot a step. before running `ng serve`, **build the library with** `npm run build-lib`

[2018-06-27 06:14] RaphaelJenni commented on #65
Do you have the `firebaseui` library installed?

Compare your dependencies with:
https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/package.json#L22

[2018-06-27 06:37] sgehrman opened #66 "Build fails: firebaseui.auth' has no exported member 'AuthResult"
$ npm run build-lib

Building Angular Package
Building entry point 'firebaseui-angular'
Rendering Stylesheets
Rendering Templates
Compiling TypeScript sources through ngc

BUILD ERROR
projects/firebaseui-angular-library/src/lib/firebaseui-angular-library.helper.ts(7,37): error TS2694: Namespace 'firebaseui.auth' has no exported member 'AuthResult'.
projects/firebaseui-angular-library/src/lib/fireb

[2018-06-27 06:53] francoisr commented on #64
Thanks for the reply. In the end, I missed building the libraries by running the `npm run build-lib` line. i overlooked it because it is mentioned under Development, not under Sample.
Cheers!
`

[2018-06-27 06:54] sgehrman commented on #66
doesn't work with latest firebaseui
I had to hard code it to     "firebaseui": "3.0.0"

[2018-06-27 06:55] sgehrman commented on #65
doesn't work with latest firebaseui
I had to hard code it to "firebaseui": "3.0.0"

[2018-06-27 06:55] sgehrman commented on #65
It would be great if you could update it to the latest firebaseui

[2018-06-27 07:57] RaphaelJenni commented on #65
It is an open issue and I will do it asap. #63

[2018-06-27 07:58] RaphaelJenni commented on #66
Duplicates #65

[2018-06-27 07:58] #66 closed

[2018-06-27 17:30] #63 closed

[2018-06-27 17:30] #64 closed

[2018-06-27 17:31] RaphaelJenni commented on #65
Fixed with Version 3.1.0 should be live soon.

[2018-06-27 17:31] #65 closed

[2018-06-27 19:36] francoisr opened #67 "3.0.4 breaks with angularui"
It seems the latest release of firebaseUI (firebaseui@3.1.1) breaks current release of firebaseui-angular@3.0.4.

ERROR in node_modules/firebaseui-angular/lib/firebaseui-angular-library.helper.d.ts(2,37): error TS2694: Namespace 'firebaseui.auth' has no exported member 'AuthResult'.

Reverting back to firebaseui@3.1.0, all builds fine again.

[2018-06-28 05:28] RaphaelJenni commented on #62
I will support it as soon as firebase(ui) supports it.
Close the issue for now.

[2018-06-28 05:28] #62 closed

[2018-06-28 07:44] francoisr commented on #67
Good job.  Thanks.

I could get 3.1.0 from NPM but strangely it does not yet show as the latest
in GITHUB.

Regards,

[image: image.png]

On Wed, 27 Jun 2018 at 22:26, Raphael Jenni <notifications@github.com>
wrote:

[2018-06-28 07:55] RaphaelJenni commented on #67
Yes it takes some time to update it there.

[2018-07-02 08:08] cychongaspevo opened #68 "Warning and Error"
I got follow error when try to use in my project

**environment version**:
[code]

**package version**:
[code]

**Warning**:
[code]

**Error**:
[code]

[2018-07-02 08:32] RaphaelJenni commented on #68
Can you provide some more information?
Versions etc.

[2018-07-02 08:35] cychongaspevo commented on #68
i added the version of my cli environment and also the package version

[2018-07-02 08:41] RaphaelJenni commented on #68
I have to check it with a angular@5 project. See what I can do

[2018-07-04 12:58] RaphaelJenni commented on #68
Can you try out this version `npm install firebaseui-angular@3.1.1-0`

[2018-07-05 09:19] cychongaspevo commented on #68
ya, it is working now. Thank you.

[2018-07-05 09:19] #68 closed

[2018-07-11 19:48] JaviRpo opened #70 "How to add invisible reCaptcha?"

[2018-07-11 20:09] RaphaelJenni commented on #70
Please specify.

[2018-07-11 21:49] JaviRpo commented on #70
[Here](https://github.com/firebase/FirebaseUI-Web#configure-phone-provider) is the doc/example about it.

[2018-07-12 06:08] RaphaelJenni commented on #70
Just add the configurations to the `customConfig` property.

[code]

[2018-07-12 13:32] JaviRpo commented on #70
Could this be a global configuration for all providers?
This because of the reCaptcha is a valid option in all providers, not only in the `AuthProvider.Phone`

e.g.
[code]

[2018-07-12 13:54] RaphaelJenni commented on #70
Well, FirebaseUI lets you define it for each provider individually. And as this is just a wrapper of the original firebase UI project, I would like to leave it like that and don't add additional functionality/add additional complexity.
So short answer, please do it for each provider individually. You can create an issue on the official firebaseui repo. If they implement it, I will do it here too.

[2018-07-12 15:27] JaviRpo commented on #70
Thanks a lot for your answer.

[2018-07-12 15:27] #70 closed

[2018-08-02 14:37] datureezy opened #71 "Instantaneous glitch when loading <firebase-ui>"
Hello Raphael,

Thank you for this helpful repository.

I have successfully added your auth UI library into my project, but when I'm using the <firebase-ui> component within my code, when I load the page, the selected login methods within a box (Google, Facebook) appear on the page after 1 second with a flashing glitch.

Is there a way to load the whole page (including the auth UI) together entire

[2018-08-02 18:10] RaphaelJenni commented on #71
Hi Ron
Haven't had this issue so far. I don't know any method to achieve that. Maybe you have to contact the firebaseui team directly via the official repository.
If it is an issue with this plugin, I would have to investigate it. Then a sample project where this issue appears would be very useful.

[2018-08-02 21:30] datureezy commented on #71
Raphael,

Thanks for getting back so fast, appreciate it big time. I made a screencast showing what I'm seeing on my end.

https://youtu.be/1NGFFXsqD40

I'll be pinging Firebase and seeing what they think.

In my code, it's super simple. I've just put <firebase-ui></firebase-ui> in my component's HTML file. Nothing more really.

[2018-08-15 19:25] arjunyel opened #73 "Disable auto signin"
Hello, thanks for the great library! How do you recommend I best disable auto signin? Heres how the official example does it https://github.com/firebase/firebaseui-web/blob/master/demo/public/app.js#L87

My use case is an app which requires login, when I logout it takes me to the login screen which then auto sign ins make it so you can never sign out.

Thanks for the help!

[2018-08-16 15:13] anisabboud opened #74 "feat: Continue as guest (anonymous sign in)"
Support for `Continue as guest` through a new sign in provider `firebaseui.auth.AnonymousAuthProvider` was recently added to firebaseui-web v3.2.0 https://github.com/firebase/firebaseui-web/releases.

[2018-08-16 19:01] RaphaelJenni commented on #73
I'm a little bit short on time. I will look into it tomorrow.

[2018-08-16 19:02] RaphaelJenni commented on #74
I'm a little bit short on time. I will look into it tomorrow.

[2018-08-18 13:11] RaphaelJenni commented on #74
I fix it in v3.3.0. Please read the [changelog](https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/CHANGELOG.MD#330)

[2018-08-18 13:11] #74 closed

[2018-08-18 20:51] arjunyel commented on #73
Works perfectly, thank you!

[2018-08-18 20:51] #73 closed

[2018-08-27 05:34] SS2095 opened #76 "Error trying to build the sample with prod flag"
I get the following errors when trying to build the sample with 'ng build --prod'

ERROR in ./src/app/app.module.ngfactory.js
Module not found: Error: Can't resolve 'firebase/index' in 'C:\Users\SS2095\Downloads\FirebaseUI-Angular-master\src\app'
ERROR in ./src/app/app.module.ngfactory.js
Module not found: Error: Can't resolve 'firebaseui/dist/index' in 'C:\Users\SS2095\Downloads\FirebaseUI-Angula

[2018-08-30 14:57] RaphaelJenni commented on #76
Did you do all the steps described in the README for running the demo?

[2018-08-30 15:00] SS2095 commented on #76
Yes.

[2018-08-30 15:04] RaphaelJenni commented on #76
Does `ng build` (without prod) work?

[2018-08-30 15:11] SS2095 commented on #76
Yes, it does.

[2018-08-30 16:11] Suchandan commented on #76
I have the same issue.

[code]

[2018-09-04 14:07] Suchandan commented on #76
Hi @RaphaelJenni , Do we have any updates?

[2018-09-04 14:50] RaphaelJenni commented on #76
I planned to look into it today. I'll keep you posted.

[2018-09-04 14:58] RaphaelJenni commented on #76
@Suchandan @SS2095 does this also happen in your own projects?

[2018-09-04 15:02] RaphaelJenni commented on #76
It is a problem wit AOT of angular. I'll investigate what exactly the problem is.

[2018-09-04 16:01] RaphaelJenni commented on #76
If you disable aot it works. But the actual problem probably lies in the project/files structure of firebase.

[2018-09-07 13:57] LennyZ71 commented on #76
FYI you can run a --prod build successfully for now by disabling aot and build optimizer.
`ng build --prod --aot=false --build-optimizer=false`

[2018-09-07 17:53] ajjnorton commented on #76
I am having the same issue.
[code]

But
[code]
works

[2018-09-09 11:05] vnoitkumar opened #77 "npm WARN deprecated angularfire2@5.0.1: AngularFire has moved, we are now at @angular/fire"
Kindly update!

[2018-09-09 12:35] RaphaelJenni commented on #77
Will do that asap.

[2018-09-09 15:59] #77 closed

[2018-09-10 08:10] vnoitkumar commented on #77
Thank you!

[2018-09-10 13:30] vnoitkumar commented on #77
I think by solving the above problem has created the below problem, Kindly look into it.

Cannot read property 'GoogleAuthProvider' of undefined at firebase.auth.GoogleAuthProvider.PROVIDER_ID

[2018-09-10 15:54] eltonec opened #79 "build error"
'ng serve' is ok, but 'ng build --prod' error occurred : can not resolve 'firebase/index' in 'src/app/app.module.ngfactory.js, and can not resolve 'firebaseui/dist/index' in ....

[2018-09-10 18:10] RaphaelJenni commented on #79
Duplicate of #76

[2018-09-10 18:10] #79 closed

[2018-09-10 18:12] MrDrProfX commented on #76
Same issue. I did some investigation, here are my findings @RaphaelJenni :

This issue is reproducible by importing firebase and firebase ui as follows:
[code]
Gives build error:
[code]

Instead of importing the recommended way in the documentation README:
[code]
BUT, the recommend import way gives this warning:
[code]
And completely breaks the app at runtime with this run time error:
[code]

[2018-09-11 07:48] RaphaelJenni commented on #76
I found a workaround for the problem. `firebase` and `firebaseui` is no exposed by the plugin itself. If you import those from there everything works fine. See https://github.com/RaphaelJenni/FirebaseUI-Angular#prod-build-error

Please give it a try in v3.3.2 and sorry for any inconveniences.

[2018-09-11 09:00] SS2095 commented on #76
works for me. cheers!

[2018-09-11 09:00] #76 closed

[2018-10-29 08:02] RaphaelJenni opened #80 "Verify functionality for Angular 7"
Verify that the library works without any complications on the newest Angular version.

[2018-11-05 17:06] RaphaelJenni commented on #80
Verified :heavy_check_mark:

[2018-11-05 17:06] #80 closed

[2018-11-09 12:52] KostasInfo opened #81 "Angular route change and signInSuccessWithAuthResult binding"
Hello, I would appreciate some help with an issue I am facing. I have a component (SigninComponent) that renders
<firebase-ui
    (signInSuccessWithAuthResult)="successCallback($event)"
    (signInFailure)="errorCallback($event)"></firebase-ui>

When you enter the route for the first time ("/signin") and login or signup the "successCallback" is called on the SigninComponent giving the FirebaseUISi

[2018-11-09 13:29] RaphaelJenni commented on #81
Hello, have you tested the demo app for this use case?
I feel like it worked for me. But I have to check it again. Can you create a sample repo or StackBlitz?

[2018-11-13 12:29] KostasInfo commented on #81
It is the simplest app.
Steps to reproduce.

1. Replace environment.ts firebaseConfig with your configuration.
2. run the app. press sign, then login to firebase you will see successCallback being triggered, press the button to go to the home page, press logout and then press signin again, login to firebase and then you will notice that successCallback is not being called.

If at any time you refr

[2018-11-16 11:41] RaphaelJenni commented on #81
Thanks for the demo. I can reproduce the problem.

I will look into it and come back to you as soon as I find a solution.

[2018-11-16 12:47] RaphaelJenni commented on #81
I found out what the problem is. Looking for a fix now.

[2018-11-16 13:18] RaphaelJenni commented on #81
I release a new beta version.
`npm install firebaseui-angular@beta`

Please give it a try and verify that it is working for you.

[2018-11-20 13:33] RaphaelJenni commented on #81
@KostasInfo did you check it out?

[2018-11-21 17:58] KostasInfo commented on #81
Thank you.
From a quick check I did, it works.

[2018-11-21 17:58] #81 closed

[2018-11-23 01:30] acegreen opened #82 "Duplicate identifier"
Hi thanks for awesome module. I'm running into an issue when importing .

<img width="926" alt="screen shot 2018-11-22 at 8 28 21 pm" src="https://user-images.githubusercontent.com/10794609/48925755-5cd80980-ee95-11e8-8f76-d99f28b3629d.png">

[2018-11-23 08:48] RaphaelJenni commented on #82
Hi @acegreen
Does it work, if you do it like this:
https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/src/app/app.module.ts#L5

[2018-11-23 18:30] davemecha commented on #42
There are distributions for different languages of firebaseui (https://github.com/firebase/firebaseui-web/issues/242). I just tried to import this version of firebaseui separately but this did not work. Is there some way to tell the wrapper to use a static library of firebaseui?

[2018-12-05 08:04] RaphaelJenni commented on #42
@davemecha
Hi, currently there isn't.
I would have to check how to provide the possibility to do that. Currently, I'm a bit busy, but I will do that when I find some time.
I would also be happy to see a PR to solve this issue :smile:

[2018-12-17 06:34] choopage commented on #57
Hi @RaphaelJenni  feature request.

Currently there is `FirebaseUIModule.forRoot(firebaseUiAuthConfig)`

Using only `FirebaseUIModule` in lazy loaded module works.

However, what if we want a different firebaseUiAuthConfig for lazy loaded module?
For instance, firebaseUiAuthConfig has sign-in with Google, Email, and Facebook. Where as anotherFirebaseUiAuthConfig has only Continue As Guest and Emai

[2018-12-17 09:16] RaphaelJenni commented on #57
Sounds interesting. I will look into it in the near future.

[2018-12-17 09:59] choopage commented on #57
Hi, for feature should override (or use its own configuration).

You are a rock star! Thanks.

On Mon, 17 Dec 2018, 5:27 PM Raphael Jenni, <notifications@github.com>
wrote:

[2018-12-17 10:18] RaphaelJenni commented on #57
If you use `forRoot` in any module, it uses its own configuration/replaces the one provided in the root module for this module.

I will implement the partially overwriting as soon as I have some time left.

[2018-12-17 10:22] choopage commented on #57
Awesome thanks. Noted.

On Mon, 17 Dec 2018, 6:18 PM Raphael Jenni, <notifications@github.com>
wrote:

[2018-12-17 18:41] yushinkamah opened #83 "Object(...) is not a function Error"
`Uncaught TypeError: Object(...) is not a function
    at firebaseui-angular.js:32
    at Object.<anonymous> (firebaseui-angular.js:34)
    at __webpack_require__ (bootstrap 095e03a32831a77e10bd:54)
    at Object.450 (main.ts:5)
    at __webpack_require__ (bootstrap 095e03a32831a77e10bd:54)
    at Object.331 (main.ts:1)
    at __webpack_require__ (bootstrap 095e03a32831a77e10bd:54)
    at webpackJ

[2018-12-19 08:41] RaphaelJenni commented on #83
Please add some more information and provide a demo if possible.

[2018-12-19 17:00] salmoro commented on #83
I'm getting this too. See image below.

This error reminds me of something I'd get on angular libs that depend on ^rxjs6 but an older version of rxjs is installed.
In my case I have rxjs 6.3.3 installed.
Here are some of my installed packages:

"dependencies": {
    ...
    "@angular/animations": "^5.2.9",
    "@angular/cdk": "^5.2.4",
    "@angular/common": "5.0.3",
    "@angular/compiler": "5.0.

[2018-12-19 17:13] RaphaelJenni commented on #83
@salmoro Thanks for the details. Is this a recent bug? Did something change with your dependencies? Maybe the new firebaseui version?

[2018-12-19 18:14] salmoro commented on #83
I've just did a quick test and started two new Ionic projects one the v3 (as bove) and the other v4 (angular7) and added the same libs for firebaseui-angular and on v3 I got the same error as reported here and on v4 I haven't. I'm suspecting this might suggest that this issue is related to older angular versions.

[2018-12-20 13:02] salmoro opened #84 "email-link method"
Is the email-link method available with this package? I don't see `emailLinkSignIn` property exposed in the config.
Thanks

[2018-12-20 13:53] salmoro commented on #84
My apologies! It is exposed I was looking in the wrong place.

[2018-12-20 13:53] #84 closed

[2018-12-22 09:47] emgie123 commented on #83
Sam for me, also using those libs for the first time with Ionic3 project.
I`ve got:
{
...
   "firebase": "^5.7.1",
    "firebaseui": "^3.5.1",
    "firebaseui-angular": "^3.3.3",
    "promise-polyfill": "^8.1.0", //added to check if it will work
    "rxjs": "^6.3.3", //updated to check if it will work
    "rxjs-compat": "^6.3.3", //added to check if it will work
...
}

But I can't update to ionic4

[2018-12-22 12:20] RaphaelJenni commented on #83
Hi, sorry to hear that. I've never worked with ionic. But I will test it with an older angular version and try to fix it in the near future.

[2019-01-02 17:42] soorireddy opened #85 "ngZOne error"
it is forcing me to add ngzone.run after successful authentication from Google, Facebook.

public successCallback(data: FirebaseUISignInSuccessWithAuthResult) {
    this.ngZone.run(() => {
      this.router.navigate(['/pages']);
    });
  }

 "dependencies": {
    "@agm/core": "1.0.0-beta.5",
    "@angular/animations": "7.1.4",
    "@angular/cdk": "7.2.0",
    "@angular/common": "7.1.4",
    "@ang

[2019-01-09 08:53] RaphaelJenni commented on #85
Thanks @jvpoucke, I'll look into it

[2019-01-09 09:13] RaphaelJenni commented on #85
@jvpoucke About you comment about ngZone.
`runOutsideAngular()` runs as the same sais outside the ng zone. So that wouldn't solve the problem.
`run()` would run the code inside the zone.
Or have I understood something wrong?

[2019-01-09 09:39] RaphaelJenni commented on #83
I tested it with ng-cli version 6.2.9 and it worked. I'll attach all my versions below.

[code]

[2019-01-09 10:18] RaphaelJenni commented on #57
Done. Version 3.4.0 is released. Checkout the README for details instructions.

[2019-01-09 10:18] #57 closed

[2019-01-09 10:23] RaphaelJenni opened #86 "Fix travis build"
The travis buidl currently failes because it can't run `npm ci`.

This needs to be investigated and fixed.
https://travis-ci.org/RaphaelJenni/FirebaseUI-Angular

[2019-01-09 14:03] choopage commented on #57
Wow awesome. Thanks

On Wed, 9 Jan 2019, 6:18 PM Raphael Jenni, <notifications@github.com> wrote:

[2019-01-09 18:11] jvpoucke commented on #85
@RaphaelJenni
I would still call runOutsideAngular for the non-angular parts in FirebaseUI and then call run() to re-enter Angular. Reason is change detection and performance: https://medium.com/@krzysztof.grzybek89/how-runoutsideangular-might-reduce-change-detection-calls-in-your-app-6b4dab6e374d

Adding just run() would make a big difference already

[2019-01-09 20:16] RaphaelJenni commented on #85
Ok, thanks. I will release the run() change tomorrow morning and will look into the runOutsideAngular part afterward. Thanks for the inputs.

[2019-01-10 09:42] RaphaelJenni commented on #85
v3.4.1 is live

[2019-01-12 16:17] Iar0 commented on #42
@davemecha if it can help, I solved in this way:
- `git clone https://github.com/firebase/firebaseui-web`
- `npm run build build-npm-{LANGUAGE_CODE}` (build-npm-it for me)
- copy the file into your project and rename using version (ex: firebaseui-it-3.5.1.js)
- add the postinstall script `"postinstall": "cp -rf firebaseui-it-3.5.1.js node_modules/firebaseui/dist/npm.js"`

I also updated the packag

[2019-02-04 06:03] choopage commented on #57
Hi @RaphaelJenni

This feature is working. However, tos and pp is not being overwritten.
Meaning in forRoot there is tos and pp. While in forFeature, i removed tos and pp. But it is not being removed. It is still using the tos and pp of forRoot.

The correct behaviour should have been
1) forRoot have tos and pp
2) forFeature no tos and pp

[2019-02-28 02:34] choopage opened #87 "Doc: buffer.svg?embed 404 (Not Found)"
In your documentation you mentioned to put the below code snippet in styles.scss:

[code]

1) May I know for users of styles.css what should they put to fix the problem?
2) Where to download `buffer.svg`?

[2019-02-28 10:22] RaphaelJenni commented on #87
Hi @choopage
1. Good question, I have to check a compiled version of the scss file, but currently I'm a bit short on time, so I can't promise you a quick answer.
2. It's open to you what buffer icon you want to use. I'm not sure if the original firebase-ui repo has an icon somewhere.

[2019-03-20 08:44] choopage commented on #87
HI @RaphaelJenni  When you're free could you please advise on this?

[2019-03-30 01:03] choopage opened #88 "feat: Microsoft and Yahoo sign in"
Hi @RaphaelJenni

May we have support for Microsoft and Yahoo sign in?
Reference #1: https://firebase.googleblog.com/2019/03/microsoft-and-yahoo-identity-auth.html
Reference #2: https://github.com/firebase/firebaseui-web/issues/568

[2019-04-05 07:16] RaphaelJenni commented on #88
Will look into it today.

[2019-04-05 08:00] RaphaelJenni commented on #88
@choopage Just saw that it is a open issue in the firebaseui project. So I will put the issue on hold, but if everything work as expected, the wrapper shouldn't need any adjustments for such a chane.

[2019-04-07 12:39] doom777 opened #89 "Mocking AngularAuth in testing"
There is no way to do Component Class testing in firebaseui, as it doesn't use directly injected firebase auth, but creates a real tempApp based on injected firebase auth's properties.

Has anyone successfully tested with firebaseui-angular?

[2019-04-17 07:35] RaphaelJenni commented on #89
Haven't tried it yet. But would be nice to know and to add it to the README

[2019-04-17 20:55] #89 closed

[2019-04-25 04:57] choopage commented on #88
Hi @RaphaelJenni
Microsoft and Yahoo sign in are now supported by Firebase Web UI
https://github.com/firebase/firebaseui-web/issues/568

Could we make it available too?

[2019-04-25 11:51] RaphaelJenni commented on #88
@choopage This feature shouldn't need any work on my side... the angular component uses the configuration provided by firebaseui itself. Please give it a try and tell me if something doesn't work.

[2019-05-07 13:28] JayPerfetto opened #90 "<firebase-ui> does not render in chrome unless Incognito"
I had successfully implemented this using the instructions provided, and after a few days suddenly I am now only able to see the component render in Incognito mode in Chrome. The UI renders and works in Incognito Chrome, Firefox, Edge, and IE, but not standard chrome - any ideas as to why? My configuration seems fine given that it works in other browsers.

[2019-05-09 15:50] RaphaelJenni commented on #90
Hey @JayPerfetto
Do you have any extensions installed, that might prevent something from loading? Do you get some console errors?

[2019-05-09 16:06] JayPerfetto commented on #90
Hi Raphael - I should have followed up to say that I figured this out - the issue is that if you are already logged in (ie a user object is returned to the subscription from firebase auth) the UI will not render. I was not properly redirecting the users away from my login page in this case, although there was no feedback to indicate that the UI was not rendering because the user was already automa

[2019-05-09 16:07] #90 closed

[2019-05-09 16:24] RaphaelJenni commented on #90
Nice to hear, that you solved the problem.

I'm not sure how I would add such a feedback, as I don't want to force a console log onto everyone.
Do you have any other idea? Or would it be enough to add that to the README?

[2019-05-09 16:26] JayPerfetto commented on #90
Yea I think the read me would be sufficient, just point out that the component does not render if the user is already authenticated, and that some kind of auth handler function beyond just your RouteGuard is necessary to perform the redirect away from the page once that user object is detected.

[2019-05-16 08:32] RaphaelJenni commented on #88
Closing due to inactivity

[2019-05-16 08:32] #88 closed

[2019-05-17 10:03] krzcho opened #91 "firebaseui v4"
Any plans on upgrade?

[2019-05-17 11:56] RaphaelJenni commented on #91
Yes, it is on my todo list for the near future.

[2019-05-18 14:09] RaphaelJenni commented on #91
@krzcho So I tested it with version 4. Everything seems to work.
Have you experienced any issues?

[2019-05-20 05:52] itsmeneartou opened #92 "Importing AngularFireAuthModule and FirebaseUI-Angular module only in feature module"
I want to import AngularFireAuthModule,firebase/auth,firebaseui module only in feature module(login module) and not in AppModule because the 'firebase/auth' module takes around 160 kb in main production bundle size which increases the initial load time. Is there a way I can do this and also be able to use this library ? because right now when I am trying to do it I am getting an error shown below;

[2019-05-20 05:55] RaphaelJenni commented on #92
Hi
You should be able to import the module with forRoot in the feature module without any problems.
Please give it a try and tell me if you encounter any errors.

[2019-05-20 06:09] itsmeneartou commented on #92
Hi,I created this issue after trying with forRoot in feature module but still this error occures. My `login.module.ts` is shown below
[code]

and my AppModule looks like below shown code:
[code]
Can you see some catch here ? or something else I need to do to it get things done ?

[2019-05-20 12:11] RaphaelJenni commented on #92
@itsmeneartou I tested it and was able to reproduce the error.
It's a bug caused by the service was providedIn root. I worked out a fix, please test it out with `npm install firebaseui-angular@3.4.2-beta.0` and give me some feedback, so I can release the bugfix.

[2019-05-20 13:53] krzcho commented on #91
I haven't tried actually
I am mainly waiting for new "immediateFederatedRedirect" option

[2019-05-20 15:04] RaphaelJenni commented on #91
The plugin passes through the config exposed by firebaseui, so no change needed on my end.
The shouldn't be anything hindering you from using `immediateFederatedRedirect`

[2019-05-21 06:44] itsmeneartou commented on #92
I checked it out and it is working as I wanted it to work. Thank you so much :)

[2019-05-21 06:57] RaphaelJenni commented on #92
Perfect, I will release the bugfix later today.

[2019-05-21 11:21] krzcho commented on #91
Without the update I am not able to use this field

[2019-05-21 12:00] #92 closed

[2019-05-21 12:00] RaphaelJenni commented on #92
New version (v3.4.2) is released

[2019-05-21 12:05] RaphaelJenni commented on #91
@krzcho No, you can. Currently, the typings aren't updated by the firebaseui library, but if you use any as type everything works just fine.

As I said, I pass all the configurations straight through to the firebaseui library.

[2019-05-21 12:06] krzcho commented on #91
Could you please just release updated package?

[2019-05-21 12:09] RaphaelJenni commented on #91
Why should I release a new version with no changes?!

[2019-05-21 12:10] RaphaelJenni commented on #91
Just run `npm install firebaseui@latest` and you are good to go.

[2019-05-21 12:12] krzcho commented on #91
To reflect compatibility with new libraries within package.json

[2019-05-21 12:55] RaphaelJenni commented on #91
So it's a matter of peerDependencies?

[2019-05-21 12:56] krzcho commented on #91
hmm, just dependencies?

[2019-05-21 13:02] RaphaelJenni commented on #91
Yes, there is absolutely no change needed to be compliant with firebaseui@4

[2019-05-21 13:04] krzcho commented on #91
I will try `npm install firebaseui@latest` but it seems a little hack to me
Pure `npm update` should do the job but it isn't due to dependencies in your package.json

[2019-05-21 14:28] RaphaelJenni commented on #91
Does `npm update` update major versions?
And didn't you had `firebaseui` in your package.json?

[2019-05-21 14:41] krzcho commented on #91
ok, it seems you are right: it was mine package.json restricting firebaseui upgrade, not your package; thx

[2019-05-21 14:41] #91 closed

[2019-05-22 11:15] krzcho commented on #91
However... I see following warnings

as I already have newer versions of those libs not matching above version specifications

[2019-05-22 12:35] RaphaelJenni commented on #91
Alright I will fix that.

[2019-05-29 16:54] anisabboud opened #93 "build error with Angular 8.0.0 (TypeError: Cannot read property 'Promise' of undefined)"
I updated my project to the latest `Angular 8.0.0`, `@angular/fire 5.2.0-rc.1`, `firebase 6.1.0`, `firebaseui 4.0.0`, `firebaseui-angular 3.4.2`.

`ng serve` works well. With `ng build` or `ng build --prod`, the build succeeds but I get a console error.

[code]

![image](https://user-images.githubusercontent.com/5672108/58574684-31214c00-8249-11e9-9022-f50c71c4ce47.png)

Not sure where the issue i

[2019-06-03 07:06] RaphaelJenni commented on #93
@anisabboud Thanks for the report. I'll check it out

[2019-06-07 06:52] RaphaelJenni commented on #93
@anisabboud So I tested it out with a clean new angular 8 project.
Everything seems to work as expected. The target is set to `es2015`.
Can you create a sample project to reproduce this issue?

[2019-06-07 08:55] RaphaelJenni commented on #93
I created a beta version where the plugin is built with the angular 8 cli. PLease give it a try:
`npm install firebaseui-angular@4.0.0-beta.0`

[2019-06-07 12:49] PandiyanCool commented on #93
@RaphaelJenni doesn't work

[2019-06-09 15:59] anisabboud commented on #93
Thank you @RaphaelJenni, but unfortunately the new beta didn't resolve the issue.

Seems like @LennyZ71 reported the same error here: https://github.com/firebase/firebaseui-web/issues/501#issuecomment-499984586.

I am able to reproduce with a fresh project created with Angular CLI 8.0.2:
- `ng new ng8project`
- `npm install firebase firebaseui @angular/fire firebaseui-angular@4.0.0-beta.0 --save`

[2019-06-10 01:49] moblizeit opened #94 "sign in with email link option"
in the  <firebase-ui>  i can sign in with email but do not see sign-in with email link option, what i am missing?

[2019-06-10 03:55] moblizeit commented on #93
for me locally all works fine just on deploying to firebase hosting gives this error.

{
  "name": "admin",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "^8.0.0",
    "@angular/cdk": "^8.0.0",
    "@angula

[2019-06-10 16:34] LennyZ71 commented on #93
I’m no expert but I think the issue lies in firebaseui itself.  With all the 8 upgrades angular has quite a few build issues.

‘’’  Object../node_modules/firebaseui/dist/npm.js (npm.js:425) ‘’’

[2019-06-17 17:03] ekoeryanto commented on #94
configuration

[2019-06-23 09:57] cstsortan commented on #93
I get the same behavior as @moblizeit. Any news on this?

[2019-06-23 10:02] RaphaelJenni commented on #93
As someone pointed out, this is an issue with the firebaseui library and angular 8. I've already built the library with angular 8, but there isn't more at the moment that I can do. So I wait on any updates on the firebaseui side of things.

[2019-07-09 20:00] Wullie-H62 commented on #93
PandiyanCool thank you so much. I have been on the verge of giving up trying to build with Angular having  now spent several months through Angular 6, 7 then 8 without being able to complete a project.
I have struggled for several days now with my app working locally but not on deployment.
Your work around switching the target to ES5 from ES2015 worked for me. Onwards and upwards.

[2019-07-14 10:51] BeSpunky commented on #93
Confirmed.
I can even do `ng serve --prod` and it works perfectly.
When I deploy to firebase or serve firebase locally (`firebase serve`) I get the error.

[2019-07-17 01:13] wti806 commented on #93
FirebaseUI added a es module in [v4.1.0](https://github.com/firebase/firebaseui-web/releases/tag/v4.1.0). Please upgrade to that version, it should solve the issue.

[2019-07-17 08:50] anisabboud commented on #93
Thanks for the update, @wti806.

I updated FirebaseUI and switched back to `"target": "es2015"` in tsconfig.json.
- `ng build` worked successfully (both builds es2015 and es5 succeed) and running the app in the browser works without console errors.
- However, `ng build --prod` failed to complete the second build (tried multiple times):

[code]

[2019-07-17 21:10] salah3x opened #98 "Console output"
### Environment (Angular 7)
[code]
### Description
I followed the installation guide and it's working perfectly.
But I noticed a lot of console output while using it.
[code]
Why is this the case and how can I turn it off?

[2019-07-18 06:12] RaphaelJenni commented on #98
I've never seen that before. Have to test it out myself.

[2019-07-19 13:25] BeSpunky commented on #93
Hi @anisabboud,

v4.1.0 fixed the problem for me.

Not sure if this is related, but how did you update your firebaseui package?
Try `npm update firebaseui`. It seemed to have updated `firebase` as well.

[2019-07-21 11:17] anisabboud commented on #93
Thanks, @BeSpunky.

My packages are up-to-date, but I still get the "JavaScript heap out of memory" crash with `ng build --prod`.
Found the solution here: https://github.com/angular/angular-cli/issues/5618#issuecomment-450151214 (running ng build with higher memory).

Marking this as resolved, thank you all!

[2019-07-21 11:17] #93 closed

[2019-07-21 12:00] RaphaelJenni commented on #94
Closing due to inactivity

[2019-07-21 12:00] #94 closed

[2019-07-25 18:49] moblizeitllc opened #101 "Package "firebaseui-angular" has an incompatible peer dependency to "@angular/common" (requires "^6.1.2" (extended), would install "8.1.2")"
Exact same issue as in https://github.com/angular/angularfire2/issues/2082

[2019-08-07 20:27] gspassky opened #102 "Internationalization"
Hi, Raphael! Do you have plans to implement "lang" setting to module config? ;)

[2019-08-07 20:44] RaphaelJenni commented on #102
This module only forwards all configuration to the firebaseui plugin. As soon as they support it, it is automatically supported in the wrapper.

[2019-08-09 01:08] salah3x commented on #98
After an update to 4.0.0, those log messages just disappeared.
I was unable to reproduce the issue even with the previous versions, so I'm not sure this really an issue.
I'll close this for now since it's not clear what's wrong.

[2019-08-09 01:08] #98 closed

[2019-08-18 10:18] metalllus commented on #42
Hi, I managed to generate my firebase-sk-4.1.0.js file for Slovak language as per the instructions above but I do not know where exactly to place this file in my angular project and where to add the postinstall script (postinstall": "cp -rf firebase-sk-4.1.0.js node_modules/firebaseui/dist/npm.js"`) to get it working in my app. Does it belong to the app package.json in app root directory or to the

[2019-08-25 03:06] viniciussilverio opened #103 "Redirect error Android login"
Hi, I'm having a problem when running on Android device, the Google and Facebook logins open in a Chrome window and not inside the app, and after do the login on the page it no redirects to the app, the page keeps open and the app keeps waiting the login.

Android 8.1
Ionic 4

[2019-09-04 02:01] viniciusgati opened #104 "'firebase-ui' is not a known element"
I have followed the readme and i got this error:

ERROR Error: Uncaught (in promise): Error: Template parse errors:
'firebase-ui' is not a known element:
1. If 'firebase-ui' is an Angular component, then verify that it is part of this module.

[2019-09-04 07:52] RaphaelJenni commented on #104
This looks like you haven't imported the firebase ui angular module in the module this component is running in.

[2019-09-04 11:13] viniciusgati commented on #104
I have made the same as the Readme... like this:
`@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    FormsModule,
    AppRoutingModule,
    AngularFireModule.initializeApp(environment.firebaseConfig),
    AngularFireAuthModule,
    FirebaseUIModule.forRoot(firebaseUiAuthConfig)
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule {
}
`

[2019-09-04 16:15] viniciusgati commented on #104
@RaphaelJenni the repository is https://github.com/viniciusgati/angular-ionic-firebase-auth-test
same problema reproduced, very simple, new ionic app, install dependecies, configure FirebaseUI

As i have seen on the FirebaseUI-Angular code everything looks good, i will give another try soon.

[2019-09-04 16:36] viniciusgati commented on #104
Maybe it is related to angular 8

[2019-09-05 00:25] #104 closed

[2019-09-07 20:43] poqo opened #105 "OTP sent with localhost"
OTP is working fine for me, but the SMS that I'm receiving contains "verification code for localhost".

I'm using the FirebaseUI-Angular with ionic 3.

[2019-09-10 09:20] tankip commented on #103
i am getting the same problem.
Did you happen to find a solution to it?

[2019-09-11 15:23] RaphaelJenni commented on #103
I'm not using ionic, so I can't help you with this issue. Check with the firebaseui team, if they know more, as this plugin only works as a wrapper to use it in angular.

[2019-09-18 02:10] hossameldeen opened #106 "Thank you"
Just a thank you. Can be closed at anytime. Sorry for the noise.

Seriously: Just used it with email-link authentication. It's awesome. I can't imagine how many days I'd have spent designing the UI & not doing one as good as yours (yup, it's `firebaseui-web`'s but I might have not integrated it but for your library).

Sorry for the noise again. Can be closed silently.

[2019-09-18 05:35] RaphaelJenni commented on #106
@hossameldeen Thank you for the kind words. This means allot. The goal of this plugin is solely to make the life easier for other developers. I'm glad that I could help.

[2019-09-19 03:22] hossameldeen commented on #106
You're welcome, it did make my life easier. Hope I can one day repay you and people like you with more than words.

Wish you all the best in your life! ^^

[2019-09-19 03:22] #106 closed

[2019-09-21 08:44] PiotrFr commented on #101
Package "firebaseui-angular" has an incompatible peer dependency to "@angular/common" (requires ">=6.1.2", would install "**9.0.0-next.7**")

[2019-09-21 10:56] RaphaelJenni commented on #101
Thanks for the report. It totally went under. I'll set it on my todo list.

[2019-09-23 08:23] poqo commented on #70
Can't import AuthProviderWithCustomConfig, where it's located?

[2019-10-01 11:35] awais786327 opened #107 "Angular 8 Production Build Error (TypeError: Cannot read property 'Length' of undefined)"
First of all thanks for the great stuff, i am developing application and before making **build** everythings going perfect and everything is working fine as expected you can see no error in console

![image](https://user-images.githubusercontent.com/12613564/65957824-51ffe500-e467-11e9-8faa-aeb9c97c38cc.png)

but when i **build** my app using following commands one by one

- **ng build**,
- **ng b

[2019-10-13 15:30] RobinGiel commented on #103
@tankip and @viniciussilverio I would advice you to use [https://github.com/jeduan/cordova-plugin-facebook4](url) for facebook if you don't want to have to go via a web browser

[2019-10-24 07:25] RaphaelJenni commented on #107
Hi
Sorry for the late response.
Do you still need some help?

[2019-10-24 09:32] RaphaelJenni commented on #101
Sorry for the long delay. I uploaded a beta version (4.0.1-beta.0). Please give it a try and check if it solved your issue.

[2019-10-30 13:38] PiotrFr commented on #101
I am working with 4.0.1-beta.0 without any problems.

[2019-11-06 15:06] sizilkrishna opened #108 "(signInSuccessWithAuthResult)="successCallback($event)" being called only with Google Authentication"
Hello,

I tried setting up a callback on successful login but strangely  the callback `(signInSuccessWithAuthResult)="successCallback($event)"`  is only being called when i login with google account, whenever i am trying to login with Email or Anonymous, this is not getting called.

Details:

In my `app.module.ts`

[code]

signInSuccessWithAuthResult and signInSuccessUrl are working fine but when

[2019-11-07 13:59] sizilkrishna commented on #108
A working StackBlitz can be found here,

https://stackoverflow.com/questions/58748913/success-callback-of-firebase-login-not-invoking

[2019-11-07 14:52] #107 closed

[2019-11-07 14:52] #101 closed

[2019-11-07 15:02] RaphaelJenni commented on #108
Hi @sizilkrishna
I just tested it out with my project keys and have found no issues. Make sure that you have email/password etc. enabled in the firebase console.

If it still doesn't work. Try the demo app provided in this project, maybe you find something there.
It that doesn't work as well, I have to check again.

[2019-11-07 16:24] sizilkrishna commented on #108
Hey @RaphaelJenni

I'm sorry but i double checked that i have enabled anon, email, phone and google login.

However i hope you understand logging in isn't the problem, everything is working smoothly, but its that after logging `(signInSuccessWithAuthResult)="successCallback($event)" ` is not being invoked in anon or email or phone login.

Here's the [StackBlitz](https://stackblitz.com/github/sizil

[2019-11-11 15:03] Konstantinos-Val commented on #108
The issue is your angular code not the firebaseui-angular npm package. If you remove the `*ngIf="!afAuth.auth.currentUser"` from the div in your login.component.html then you will see that the callback "successCallback(signInSuccessData)" gets called after successfull login with email .

[2019-11-28 11:43] Konstantinos-Val commented on #108
@RaphaelJenni I think we are ok  and we can close this issue. I answered it at https://stackoverflow.com/questions/58748913/success-callback-of-firebase-login-not-invoking .

[2019-11-29 10:26] #108 closed

[2020-01-16 00:17] SachinShekhar opened #109 "Don't reference window object directly"
I can see here in [this service](https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/projects/firebaseui-angular-library/src/lib/firebaseui-angular-library.service.ts) that you've referenced window object directly:

[code]

This is not a standard Angular practice. To enforce singleton behavior, there's Dependency Injection system in place. See [this](https://angular.io/guide/singleton-s

[2020-01-16 05:10] SachinShekhar commented on #109
It seems that this won't fix my issue because you are merely a wrapper and `firebaseui` itself is the main offender to use global window object.

[2020-01-16 05:10] #109 closed

[2020-01-25 02:24] KabalanKeirouz opened #110 "How to Remove reCaptcha"
[code]
The above code is the code in my home.page.html

[code]
The above code is the code in my home.page.ts

Created this project using Ionic 4 and FirebaseUI-Angular.
I would like to remove the reCaptcha so that my phone verification system works on IOS and to remove the error : 'ReaptchaVerifier is only supported in a browser HTTP/HTTPS environment'

[2020-01-27 15:21] Konstantinos-Val commented on #110
I don't think you can remove reCaptcha when using the phone authentication provider. Firebase Auth docs state that clearly [read section 2 ](https://firebase.google.com/docs/auth/web/phone-auth)

FirebaseUI-Angular is just a wrapper for FirebaseUI.

[2020-01-27 16:04] KabalanKeirouz commented on #110
Oh okay thank you. Because I wanted to implement that on ionic 4 and use it on mobile but as it turned out, unfortunately it is not supported.

Thanks

[2020-01-27 16:04] #110 closed

[2020-02-22 22:18] rahulmool opened #111 "What are the options in signInFlow: instead of only inserting popup"
I am trying to use inappbrowser in ionic4 using this project in Android. I suppose if I get the link of popup window I will be able to make it run on Android too. Please help me to integrate my project with Android using inappbrowser module.

[2020-02-28 15:40] #111 closed

[2020-03-04 21:43] guntercn opened #112 "Ionic+Cordova+FireBaseUI+Xcode (Cordova or Capacitor Build)"
Hi
My work environment is

Ionic: 5.4.13
Cordova: 9.0.0

The final platform are( Android and IOS).

The Firebase settings of the app are according to the indications of the site.
In the Android version everything works fine.

I have a problem in the iOS version.

environment.ts
in this class assign the parameters for IOS.

When the application is running in the Simulator or in the App, an error sh

[2020-03-10 08:23] 5987dogking opened #113 "support angular9?"
support angular9?
chrome console
[code]

[2020-03-22 22:59] NurdinDev opened #115 "Help: change ui language and direction"
I didn't find a good way to change the language of the UI, even the direction, it seems CDN way not working with angular wrapper, any other option can I use it with this wrapper?

thanks in advance.

[2020-03-26 22:36] iammikecohen commented on #113
+1 I would really like to see this. I can't believe @angular/fire doesn't work on v9.

[2020-03-27 17:47] #113 closed

[2020-03-28 19:08] var-kar commented on #113
Looks like this is fixed in firebaseui-angular version 4.1.0. But I still get this error. I installed the entire project just today. So I run all latest versions.

Please help me out.

[2020-03-28 20:22] himanshushankhala opened #119 "ERROR in node_modules/firebaseui-angular/lib/firebaseui-angular-library.component.d.ts:17:9"
Command: **$   ionic serve -b -c**

Log:

[ng] ℹ ｢wds｣: Project is running at http://localhost:8100/webpack-dev-server/
[ng] ℹ ｢wds｣: webpack output is served from /
[ng] ℹ ｢wds｣: 404s will fallback to //index.html
[ng] chunk {main} main.js, main.js.map (main) 2.02 kB [initial] [rendered]
[ng] chunk {polyfills} polyfills.js, polyfills.js.map (polyfills) 154 kB [initial] [rendered]
[ng] chunk {runt

[2020-03-29 14:24] vyapariapp commented on #119
My error is this
`ERROR in node_modules/firebaseui-angular/lib/firebaseui-angular-library.component.d.ts(17,9): error TS1086: An accessor cannot be declared in an ambient context.`

[2020-03-30 08:31] JohnnyK84 commented on #119
Getting the same error as @himanshushankhala with a similar build in Ionic.
Strangely if you go to the file mentioned in the error and Ctrl S to re-save, the server will recompile successfully. Still doesn't fix the build issue though.

[2020-03-30 18:04] awais786327 commented on #107
no superman you have pretty fast response skills dude btw

[2020-04-02 19:01] housirvip commented on #119
[code]
change to
[code]

[2020-04-03 03:24] tahooki opened #121 "TypeError: Cannot read property 'options' of undefined"
**Html**
[code]

**Chrome console**
[code]

**esm.js359 error point**
[code]

**My package.json dependencies...**
[code]

I just followed https://github.com/RaphaelJenni/FirebaseUI-Angular.
What is the problem?
Help me.

[2020-04-03 05:09] techster10173 commented on #121
I'm having a similar error, please respond if you've found the solution

[2020-04-05 17:03] sw-tracker commented on #121
Same error here, please let me know if you find a solution

[2020-04-05 18:44] eeevanbbb commented on #121
+1

Might it have something to do with [this commit](https://github.com/angular/angularfire/commit/705505a1806ae02d5bb08d3fc0d6ca24d9635527#diff-25d5c2802bc82e338a5f7ea7c80cbc44) to AngularFire (which bumps it up to 6.0.0)? It looks like it gets rid of the `auth` property on `AngularFireAuth`.

[2020-04-05 20:07] techster10173 commented on #121
@eeevanbbb Any idea on how to make it work considering that change?

[2020-04-05 21:20] eeevanbbb commented on #121
I have a vague idea, but I'm very inexperienced with these frameworks so it's mostly just a guess.

The crash log posted on this issue (which is the same one I'm seeing locally) mentions [`FirebaseuiAngularServiceLibrary`](https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/projects/firebaseui-angular-library/src/lib/firebaseui-angular-library.service.ts) whose constructor attempts to a

[2020-04-06 19:45] doublep563 commented on #121
Looks like angularfire 6.0.0 introduced the problem. Went back to 5.4.2 to fix this problem

[2020-04-06 19:56] techster10173 commented on #121
Is this referring to @angular/fire to angularfire2? Sorry for the question I'm very new to this

[2020-04-07 00:25] techster10173 opened #122 "Ionic Android/IOS Deploy"
If I were to deploy my ionic 4 app on android or ios will this library still work?

[2020-04-07 06:39] doublep563 commented on #121
package.json

"@angular/fire": "^5.4.2",

[2020-04-07 07:08] micdemarco commented on #121
are there any plans to support @angular/fire 6?

[2020-04-08 15:23] RaphaelJenni commented on #121
I look into it

[2020-04-08 16:05] RaphaelJenni commented on #121
So the problem here is, that @angular/fire@6.0.0 dropped the auth object, which exposed the original firebase object. Firebaseui needs to get this firebase object in order to connect to it (else it would create a new instance).
Still trying to figure out how to solve that/get access to the firebase instance.

[2020-04-08 16:30] RaphaelJenni commented on #121
I have a possible fix, please check if this works for you: `npm i firebaseui-angular@5.0.0-beta.0`

[2020-04-08 16:40] RobinGiel commented on #122
@techster10173  yes

[2020-04-08 16:50] techster10173 commented on #121
I went back to 5.4.2 and it works perfectly for me

[2020-04-08 18:19] RaphaelJenni commented on #121
@techster10173 yes, but this version is compatible with @angular/fire@6.0.0

[2020-04-08 20:12] doublep563 commented on #121
Fixed the OP issue for me. But @angular/fire@6.0.0 has some unexpected behaviour with my implementation. Gonna stick with 5.4.2 for now.

[2020-04-08 22:20] micdemarco commented on #121
awesome!  thanks for the update,  I can confirm it works in my project

[2020-04-11 18:32] mikeyhy24 commented on #113
I'm also still seeing this error on version 4.1.0

[2020-04-11 18:40] mikeyhy24 commented on #121
Can confirm this fixes for me as well.  Thanks!

[2020-04-12 18:40] techster10173 commented on #122
@RobinGiel I have tested it on my app and it is rendering fine but it opens the Social Media Sign-on in the default browser and is not coming back to the app. Any idea of how to make it be taken care of in app?

[2020-04-12 21:16] RobinGiel commented on #122
Every auth has it own way to redirect the app. You have to let the Google auth know that you need to redirect back to the app using the app domain. Also in firebase you can set this up at sign in methods

[2020-04-15 05:00] RDevR99 opened #123 "Function calls are not supported in decorators but 'firebase' was called."
I have this config: (Update: Doesn't show an error when Yahoo's provider Id is removed)
![image](https://user-images.githubusercontent.com/42928792/79300239-83369300-7f29-11ea-8623-7de3d81e83b2.png)

And am passing it in here in the App.module.ts imports array:
![image](https://user-images.githubusercontent.com/42928792/79300303-a3665200-7f29-11ea-873f-2ae5025c1c3b.png)

Now it runs fine with `ng

[2020-04-16 12:28] mohamedaboelmagd opened #124 "One tap sign in with google doesn't work"
I added this line to config
  `
credentialHelper: firebaseui.auth.CredentialHelper.GOOGLE_YOLO
`
nothing changes

[2020-04-17 09:31] WildBoni commented on #121
The update works perfectly, thanks a lot!

[2020-04-19 18:22] gonzo09 commented on #113
@var-kar if you user version 6.0.0 of @angular/fire, try to update to [5.0.0-beta.0](https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/CHANGELOG.MD#500-beta0)

[2020-04-26 00:11] techster10173 commented on #122
@RobinGiel So I’d need to setup my application using deep links and connect that to the callback URL when sign in is successful?

[2020-05-13 17:37] nux17 commented on #119
Same error within same context. Any updates?

[2020-05-14 08:39] NikhilP97 commented on #119
This worked for me, thanks @housirvip !

[2020-05-18 05:48] #122 closed

[2020-05-21 01:33] choopage commented on #124
I think FirebaseUI disabled GOOGLE_YOLO. Nothing to do with @RaphaelJenni wrapper.

[2020-05-21 01:35] choopage commented on #103
@viniciussilverio  @tankip  Are you using popup or redirect?

[2020-05-21 01:38] choopage opened #125 "Question: Did anyone successfully use EMAIL_LINK_SIGN_IN_METHOD in FirebaseUI-Angular"
Email and password sign-in without email link works.

However, I am having difficulty with Email and password sign-in with Email link verification.

It's stated in FirebaseUI that this is possible. https://github.com/firebase/firebaseui-web#email-link-authentication

@RaphaelJenni  Did you get email link verification working with your wrapper?

[2020-05-21 01:39] choopage commented on #112
@guntercn  Isn't this a FirebaseUI problem. Not FirebaseUI-Angular problem? Because FirebaseUI-Angular is a wrapper for FirebaseUI.

[2020-05-21 01:41] choopage commented on #123
@RahulRathodGitHub Can you create a https://stackblitz.com/ instant so that the error can be replicated? It's hard to figure out the error just with a few screenshot images without knowing the settings and code used.

[2020-05-21 01:44] choopage commented on #115
@NurdinDev  Can FirebaseUI can language of the UI?
I am asking this because FirebaseUI-Angular is a wrapper of FirebaseUI https://github.com/firebase/firebaseui-web

If FirebaseUI can't allow changing the UI, then should be a issue for FirebaseUI, in my opinion.

[2020-05-21 04:48] choopage opened #126 "TypeError: undefined is not an object (evaluating 'a.app.options')"
These package versions work for me.
[code]
---

These didn't work for me.
[code]
I get `TypeError: undefined is not an object (evaluating 'a.app.options')` error message.

Did it work for you?

[2020-05-21 07:24] tankip commented on #103
@choopage I'm using popup

[2020-05-22 01:11] choopage commented on #124
I just tested. It didn't work.
On a side note, they are deprecating YOLO for One-Tap in about a month.
So let's wait for FirebaseUI to update to the latest API.
https://github.com/firebase/firebaseui-web/issues/709

[2020-05-24 13:18] RaphaelJenni commented on #125
@choopage Fist of all, thanks for helping me respond to the issues! You are a great help!

Regarding your question. I actually never tried it. I'm not actively using this wrapper in any project, just keeping the one here alive, to help others in need. But I will check if I find some time.

[2020-05-24 13:32] #86 closed

[2020-05-24 20:03] ihorbond commented on #103
@tankip what did you end up doing ? I was about to add this package to my ionic app too

[2020-05-24 20:05] ihorbond commented on #112
@guntercn what did you end up doing ?

[2020-05-25 01:30] choopage commented on #125
Thanks for your reply. Out of curiosity, if you aren't using this wrapper
how are you using Firebaseui web with Angular?

On Sun, 24 May 2020, 9:18 PM Raphael Jenni, <notifications@github.com>
wrote:

[2020-05-31 23:43] kneeki commented on #103
Has a solution for this been discovered? I'm having the same issue when using this package and while following the [official Firebase docs](https://firebase.google.com/docs/auth/web/cordova).

Using Ionic 5 + Cordova to build an Android app. Everything works fine when using `ionic serve --ssl`.

[2020-06-01 00:28] tankip commented on #103
@kneeki @ihorbond @choopage  I found a way to do google pop up authentication. I sed the google plus plugin together with firebase. You can check it on this medium post [https://medium.com/enappd/implement-google-login-in-ionic-4-apps-using-firebase-57334bad0910](url)

[2020-06-01 00:35] ihorbond commented on #103
I ended up using https://github.com/baumblatt/capacitor-firebase-auth

[2020-06-01 00:38] tankip commented on #103
@ihorbond awesome. I will check that one out too.

[2020-06-24 12:54] abdullakh35 opened #128 "UI Change color"
Hello,

is there a way to invoke the login function of angular auth firebase using ionic text inputs as email and password?

thanks

[2020-08-01 17:58] sunnylnct007 opened #132 "FirebaseUISignInFailure not being called"
Trying to use this library with Google provider. The login works fine. But if there is invalid user the pop up displays 403 error and doesn't do the  errorCallback. Possibly I am missing some config. The redirect_uri seems to be a potential issue but where do I pass that?
Even the change listener doesn't fireup in failure
Below is in my login component

[code]

Below is what I see in google pop up

[2020-08-12 22:31] SamLuo835 commented on #123
Having the same problem, any updtes?

[2020-08-28 16:05] seowzhenjun0126 opened #133 "Feature request: Add uiShown callback"
The firebaseui has a callback when the component is rendered (https://www.npmjs.com/package/firebaseui#uishown). It would be great if it is also added to this package.

[2020-09-01 12:58] RaphaelJenni commented on #132
Sorry for getting back to you so late. Is this still a problem?

[2020-09-10 13:46] RaphaelJenni commented on #133
It's available in version `5.0.1`.

[2020-09-10 13:46] #133 closed

[2020-09-10 13:48] RaphaelJenni commented on #128
If you want to use firebase auth without the complete UI, please use AngularFire.

Closing this - if you have any other questions, feel free to open it again or create a new issue.

[2020-09-10 13:48] #128 closed

[2020-09-10 13:48] RaphaelJenni commented on #126
@choopage Still a problem?

[2020-09-10 13:50] RaphaelJenni commented on #123
Is this still an issue? Are you sure, that this is not a problem with fireabseui itself?
Please provide more information, thanks.

[2020-09-10 13:50] RaphaelJenni commented on #124
Still an issue?

[2020-09-10 13:51] #121 closed

[2020-09-10 13:51] #87 closed

[2020-09-10 14:23] SamLuo835 commented on #123
In my case. I was using 5 login providers (Google, twitter, facebook, phone and apple). I had to remove the last two login methods and it worked in prod build

[2020-09-10 16:10] RaphaelJenni commented on #123
This strongly sounds like a problem of firebaseui itself. The wrapper doesn't modify any of the provider data. Everything is passed directly to the firebaseui library. If the problem persist, please open an issue there.

[2020-09-11 11:32] sunnylnct007 commented on #132
Thanks for looking into it Raphael. It was a problem when I last tried it so I swithched to ngx-auth-firebaseui.
You can close this issue if no one else has complained.

[2020-09-11 12:05] choopage commented on #124
It was an issue. I believe it is because they deprecated YOLO.

[2020-09-11 12:06] choopage commented on #126
It was an issue. I used the package version that worked for me. So no problem now.

[2020-09-11 12:06] #126 closed

[2020-09-14 02:08] ptorresmanque commented on #119
[code]
change to
[code]

It only worked for me by changing this too

[2020-09-17 06:50] #132 closed

[2020-09-17 06:51] #124 closed

[2020-11-04 23:42] mikedemarco opened #135 "Request upgrade to support firebase sdk 8"
I would like to use firebase sdk 8 in my project but I am blocked with compilation errors

[code]

It looks like firebase auth imports have changed [docs](https://github.com/firebase/firebase-js-sdk/blob/master/packages/auth/CHANGELOG.md)

[2020-11-06 09:03] choopage commented on #119
This works for me

    "@angular/fire": "~5.2.1",
    "firebase": "^7.23.0",
    "firebaseui": "~4.7.1",
    "firebaseui-angular": "~4.0.1",

[2020-11-08 09:43] DaveA-W commented on #135
Note also breaking changes associated with @angular/fire 6.0.4 affect FirebaseUI-Angular too.
https://github.com/angular/angularfire/issues/2635

[2020-11-08 11:29] RaphaelJenni commented on #135
I look into it ASAP

[2020-11-08 14:09] RaphaelJenni commented on #135
Version 5.1.0 (https://www.npmjs.com/package/firebaseui-angular/v/5.1.0) is live with support for firebase 8.
Please give it a try and tell me if there are any porblems.

[2020-11-09 16:20] aford22 commented on #135
I have installed v5.1.0 in my Angular 10, Firebase 8 project. Installs, compiles and runs with no errors. Login UI works when signing in with email. Have not tried the other authentication methods yet. Will let you know.

[2020-11-11 10:00] DaveA-W commented on #135
- [x]  Same successful result as @aford22.
All good after upgrade to `angular*@10.2.2`, `firebaseui-angular@5.1.0`, `firebaseui@4.7.1`, `@angular/fire@6.0.5` and `firebase@8.0.1`

[2020-11-12 04:54] mikedemarco commented on #135
Thanks for the quick updates @RaphaelJenni!

I can confirm everything is working with email and google sign-ins after upgrading using same versions as @DaveA-W

Cheers!

[2020-11-18 07:13] tigbeans commented on #135
Any plans to update this library to support firebase emulator authentication?

[2020-11-18 09:23] RaphaelJenni commented on #135
@tigbeans Using the emulator is a firebase specific function (not firebaseui). As it seems, you can simply tell the firebase instance, that you want to connect to an emulator. (See: https://firebase.google.com/docs/emulator-suite/connect_auth#android_ios_and_web_sdks).

So I think, this is not functionality, that needs to be ported to this firebaseui wrapper. This might be something for angularfir

[2020-11-18 09:23] #135 closed

[2020-11-20 02:33] tdkehoe opened #137 "Sample project missing CSS styles"
In the sample project the file ```src/styles.scss``` needs one line:

[code]

Looks much better with this dependency. :-)

[2020-11-20 02:42] tdkehoe opened #138 "Sample project could have README listing files that need to be changed"
The sample project could have a README listing which files need to be changed: everything in /app except app.component.scss and app.component.spec.ts, plus index.html, styles.scss (see my other issue), and environments/environments.ts.

You could eliminate the ```index.html``` change by changing ``app.component.ts``` to ```selector: 'app-root',```.

[2020-11-20 18:17] tdkehoe opened #140 "ACCOUNT_CHOOSER_CO not longer supported"
You might want to update ```app.module.ts```, at the line

[code]

The Credential Helper documentation (https://github.com/firebase/firebaseui-web#credential-helper) says that accountchooser.com is no longer supported. The supported options are now GOOGLE_YOLO or NONE.

[2020-11-23 18:47] RaphaelJenni commented on #137
The firebaseui.css gets imported via the angular cli as described in "Add the firebaseui css to your imports" - Option 2 in the README.

[2020-11-23 18:47] #137 closed

[2020-11-23 18:48] RaphaelJenni commented on #138
I don't understand what you mean. Can you create a PR with your proposed changes?

[2020-11-23 18:49] #123 closed

[2020-11-23 18:52] RaphaelJenni commented on #125
I don't use firebaseui in any current project at all. When I use firebase auth, I most of the time add the functionality by myself, for design reasons.

But is this still an issue or can this one be closed?

[2020-11-23 18:55] #140 closed

[2020-12-09 12:45] KevinLourd opened #141 "UI disappears immediatly after login"
Hi !

The UI disappears immediatly after login.

This is a design issue for me because the remaining of my landing page remains visible while waiting for post-login redirection

Would you know if there any any parameter to avoid disappearing when loggedin?

[2020-12-30 02:56] EthanSK opened #142 "Firebase Auth Emulator"
I can't get it to work with the firebase auth emulator? Help would be appreciated.

[2021-01-12 22:09] AndreuRosellOsuna commented on #142
Me neither... :(

[2021-01-13 00:15] AndreuRosellOsuna commented on #142
FirebaseUI-Angular is a wrapper of  angular-ui-web. And this library does not support auth emulator yet :
https://github.com/firebase/firebaseui-web/issues/778

It seems that some property on its dependency on firebase-js-sdk must be exposed to be called and consumed by firebaseui-web :
https://github.com/firebase/firebase-js-sdk/pull/4280

Once these two issues are resolved, I think firebaseui-an

[2021-02-07 16:13] AndreuRosellOsuna commented on #142
firebase-js-sdk and firebaseui-web now are auth emulator compatible. I've created a pull request with the solution described above :
https://github.com/RaphaelJenni/FirebaseUI-Angular/pull/144

To use it, provide USE_EMULATOR provider from @angular/fire/auth :
[code]

[2021-02-07 19:22] AndreuRosellOsuna commented on #142
I pushed a package in npm with the fork :
https://www.npmjs.com/package/firebaseui-angular-auth-emulator-fork

[2021-02-09 06:52] RaphaelJenni commented on #142
I'm looking into it.

[2021-02-09 07:23] #125 closed

[2021-02-09 07:24] #138 closed

[2021-02-09 07:24] RaphaelJenni commented on #119
Is this still an issue?

[2021-02-09 07:31] RaphaelJenni commented on #141
This is the behavior of the [firebaseui-web](https://github.com/firebase/firebaseui-web) library. This wrapper does not change anything about that.
You would have to create an issue there.

[2021-02-09 07:31] #141 closed

[2021-02-09 07:48] RaphaelJenni commented on #142
@AndreuRosellOsuna, thanks a lot for your PR!
I checked it, made a few adjustments, and merged it.

Version 5.1.2 should be live in a moment.

Thanks for your help, I really appreciate it! :smiley:

[2021-02-09 07:48] #142 closed

[2021-02-09 07:53] AndreuRosellOsuna commented on #142
Thanks to you for this library :)

[2021-02-21 12:04] #119 closed

[2021-02-25 02:48] gmaughan opened #146 "Help: Inject configuration"
I need to be able to generate the `firebaseui.auth.Config` dynamically using configuration. This is because our clients can configure the application to enable different authentication providers.

Is there currently any way to do this?

If not, it would be great if I could inject the configuration using an injection token. Much like `@angular/fire` allows its configuration to be injected.

I could

[2021-02-25 03:53] gmaughan commented on #146
Sorry, I posted this in the wrong project. Should have been in FirebaseUI-Angular

[2021-02-25 03:54] gmaughan commented on #146
Nope. I'm in the right place. Sorry about the noise.

[2021-02-26 02:57] gmaughan commented on #146
Found a solution that seems to work but isn't documented.

I'm now bypassing the `forRoot()` call on the import and using:

[code]

As this is not documented, is this a reasonable way to do this?

Glenn.

[2021-02-27 13:06] RaphaelJenni commented on #146
Hey Glenn @gmaughan

To be honest, I never thought about this functionality. But it seems to be a clean way to do it like this. The `firebaseUIAuthConfigFeature` gets merged with the one provided in the `forRoot`, but if you provide all the necessary information, this should be fine too.

If this is done in your app module, you could also think about using `firebaseUIAuthConfig` instead of the `fi

[2021-02-27 13:09] RaphaelJenni commented on #115
Closed with the forked version of this wrapper.

Check the README section "i18n" or the PR #120 for more details.

[2021-02-27 13:09] #115 closed

[2021-02-27 13:10] RaphaelJenni commented on #102
Closed with #120

[2021-02-27 13:10] #102 closed

[2021-04-13 06:36] gmaughan commented on #146
Added #149

Sorry for the delay. It's been a busy period. #

[2021-04-13 06:38] gmaughan opened #150 "Forced Re-authentication"
Is there any way to force re-authentication using this library?

We need to re-authenticate users before they change profile information and it would be very nice if this library supported such a feature.

[2021-04-13 12:32] RaphaelJenni commented on #150
@gmaughan This should be done with the angular fire library. https://github.com/angular/angularfire#authenticate-users

 This wrapper library only handles the inclusion/wrapping of firebase ui. https://github.com/firebase/firebaseui-web#angular-setup

[2021-04-13 12:36] RaphaelJenni commented on #146
Thanks, I merged it,

[2021-04-13 12:36] #146 closed

[2021-04-14 01:08] gmaughan commented on #150
Thanks. I'll follow up with the firebaseui-web project.

[2021-04-14 02:05] gmaughan commented on #150
FYI, firebaseui-web have this [planned as a feature](https://github.com/firebase/firebaseui-web/issues/836), however it is delayed until the firebase libraries are modularised.

Would be great to support this in the angular wrapper when it arrives.

[2021-04-24 12:39] #105 closed

[2021-05-07 08:37] oobayly opened #154 "Recaptach iframe not removed when FirebaseUI is removed"
When debugging an unrelated CSS issue I noticed a number of hidden divs had been added the body of the page.

Granted, this is somewhat contrived, but if the user were to flick between the home page and a sign-in page containing FirebaseUI multiple times we end up with something like this:
![image](https://user-images.githubusercontent.com/3430117/117421777-c0940700-af16-11eb-966b-8437bc47e167.png

[2021-05-07 08:37] oobayly commented on #154
Typo

[2021-05-08 12:32] RaphaelJenni commented on #154
@oobayly Thanks for reporting this. I checked it out and was able to reproduce it.

This div not only gets added when switching between pages, but it also gets added when selecting phone authentication, then cancel it, and then selecting phone authentication again.
Therefore this is not only an issue of SPAs and should be fixed by the firebaseui library in general.

Please open the issue there. If

[2021-05-14 07:24] oobayly commented on #154
I hadn't considered that. I'll do as you suggest and create an issue upstream.

[2021-06-06 03:32] 1000i100 opened #157 "Angular 12 compatibility"
Time to include @angular/common ^12.0.0 ?
[code]

[2021-06-23 07:53] RaphaelJenni commented on #157
Sorry for the late reply, I will look into it till the end of the week. Shouldn't be a big change.

[2021-06-25 08:37] RaphaelJenni commented on #157
v5.1.3 is release (https://www.npmjs.com/package/firebaseui-angular)

Re-open this issue if something isn't as expected.

[2021-06-25 08:37] #157 closed

[2021-08-25 16:58] DustinJSilk commented on #125
I'm not able to get Email signup working with email links at all and I havent found anything on the Angular or UI issues.

(Thanks for all the hard work)

[2021-09-12 12:24] falk-stefan opened #158 "Compatibility with @angular/fire@^7.0.3"
I tried to install the package but it seems it's not compatible with @angular/fire v7:

[code]

[2021-09-13 10:09] RaphaelJenni commented on #158
@falk-stefan I created a beta version for the library (https://www.npmjs.com/package/firebaseui-angular/v/6.0.0-beta.0) that should work with @angular/fire@7 and firebase@9. Currently, the official firebaseui does not support firebase@9 in their release, but they have a `@next` version available (See the [Changelog](https://github.com/RaphaelJenni/FirebaseUI-Angular/blob/master/CHANGELOG.MD#600-be

[2021-11-05 14:11] RaphaelJenni commented on #158
Version `6.0.0` (Angular 12) and Version `6.1.0` (Angular 13) are released.
See the README for the compatibility information.

[2021-11-05 14:11] #158 closed

[2021-11-11 19:37] RaphaelJenni commented on #112
Close due to inactivity

[2021-11-11 19:37] #112 closed

[2021-11-11 19:37] RaphaelJenni commented on #103
Close due to inactivity

[2021-11-11 19:37] #103 closed

[2021-12-28 11:23] antonellopasella-kedos commented on #84
@salmoro can you explain where is the correct place? I have the same issue

[2022-01-05 07:50] salmoro commented on #84
@antonellopasella-kedos Sorry I have't used this library in many years so I don't know the answer.

[2022-02-21 01:31] ArchieLabs opened #170 "multi-project authentication"
Hello,
I have a project that needs to authenticate to more than a single firebase project.
Is it possible to use this library to connect to authenticate into multiple firebase projects? how?
thank you in advance,

[2022-02-24 08:24] RaphaelJenni commented on #170
This is primarily not a firebaseui issue.
Those articles describes how you can add multiple firebase projects to a single angular project. The approaches should also be applicable for firebaseui.
- https://alexmammay.medium.com/multiple-firebase-projects-in-one-angular-app-1b845b4d5322
- https://medium.com/@handersonc/connecting-angular-with-multiple-firebase-projects-889bb7de1f56

[2022-04-09 08:04] blue-seagull opened #174 "npm install error (dependency conflicts for @angular/common) v6.1.1"
Hi,
I cloned the project to try and upgrade it to the new firebase v7 api (not compat) but when I run npm install with the current version I get an error.

**versions**
- FirebaseUI-Angular: 6.1.1
- npm : 8.6.0
- node: v16.14.2
- git: 2.35.1

**steps**

1. git clone https://github.com/RaphaelJenni/FirebaseUI-Angular.git
2. cd FirebaseUI-Angular.
3. npm install => ERROR
 - @angular/common@"^12.0.0"

[2022-04-16 10:29] RaphaelJenni commented on #174
Hi @blue-seagull , thanks for supporting the project.
Sorry for the late response.
I'll look into it and see what the problem might be.

[2022-04-16 10:46] RaphaelJenni commented on #174
I was able to reproduce your issue. However, this only happened with an npm version >= 8.6. On version 8.5.5 it works.

Haven't figured out yet what exactly changed.

[2022-04-16 11:14] RaphaelJenni commented on #174
The issue lies in https://github.com/npm/cli/issues/4664
I currently have no time for further investigations, but if you find the root cause for this and know how to fix it, I'm happy to help.

[2022-05-31 17:15] Metsuryu opened #177 "Error when entering localhost as address in providers"
When setting up the providers, the readme.md shows this:

`providers: [
    { provide: USE_AUTH_EMULATOR, useValue: !environment.production ? ['localhost', 9099] : undefined },
],`

But this gives an error:

`ERROR FirebaseError: Firebase: Error (auth/invalid-emulator-scheme).`

Because it checks for this assertion:

`_assert(/^https?:\/\//.test(url), authInternal, "invalid-emulator-scheme" /* INV

[2022-06-17 16:56] cupidchan opened #179 "Update to support Angular 14"
Dependencies error starts throwing out after upgrading to Angular 14.0 We need to upgrade the dependencies to match up with the version.

npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: firebaseui-angular@6.1.1
npm ERR! Found: @angular/common@14.0.2
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"^14.0.0" from the root project
npm ERR

[2022-06-19 21:00] RaphaelJenni commented on #179
@cupidchan Sorry for the late reply, I'm currently a bit short on time.

I'll look into it ASAP.

[2022-06-19 21:19] RaphaelJenni commented on #179
Version 6.1.2 with Angular 14 support is live.

[2022-06-19 21:19] #179 closed

[2022-06-19 21:20] RaphaelJenni commented on #177
Hello @Metsuryu, sorry for the late response.

Is this still an issue?

[2022-06-19 21:21] RaphaelJenni commented on #170
Closing due to inactivity.

[2022-06-19 21:21] #170 closed

[2022-06-19 21:21] RaphaelJenni commented on #154
Closing due to inactivity.

[2022-06-19 21:21] #154 closed

[2022-06-19 21:28] Metsuryu commented on #177
Hi @RaphaelJenni, I stopped using the package, so I'm not sure, but probably.

[2022-06-20 17:35] cupidchan commented on #179
Works perfectly now! Thanks @RaphaelJenni!

[2022-10-18 08:42] coleridge72 commented on #109
For anyone else stuck on this (I was) - I got round it by creating a separate module that contains all the sign-in logic and then used angular lazy-loading in the router to access this module.

In the server.ts file I also had make this route served by the browser.
[code]

[2022-10-22 01:51] cupidchan opened #180 "window.firebaseUiInstance reset without callbacks when using auth emulator"
It took me a few hours to find the root cause of this strange issue. If I don't define a callback in the firebaseUiAuthConfig, I will get the following error if I just simply sign in, redirect to default home by the field `signInSuccessUrl: '/',` and then sign out.
[code]
After stepping into the code, it is because window.firebaseUiInstance is reset to null after the redirection. Hence, this will

[2022-11-22 22:07] KDanisme opened #185 "Update to support Angular 15"
Hi, could we update this library to support angular 15
@angular/fire also support 15 now.

[2022-11-23 07:39] RaphaelJenni commented on #185
Yes, I look into it asap.

[2022-11-23 07:57] RaphaelJenni commented on #185
Version 6.1.3 with support for angular 15 is live. Please let me know if it works for you.